[2019-03-21 22:10] ashleygwilliams opened #3 "CI badges"
We should link to the CI badge on the README.

[2019-03-21 22:16] ashleygwilliams opened #4 "surprising `cargo test` interaction"
I cloned down the project and ran `cargo test`. It compiled, and then began running, and prompted me for a password:
![Screen Shot 2019-03-21 at 5 14 22 PM](https://user-images.githubusercontent.com/1163554/54788405-e78b0400-4bfc-11e9-8bd3-734917c4c598.png)

I'm not *entirely sure* what's happening here but I imagine contributors will expect `cargo test` to not behave like this. We may consider ch

[2019-03-21 22:17] ashleygwilliams opened #5 "`cargo fmt` throws an error"
When I run `cargo fmt` I get a parse error:
![Screen Shot 2019-03-21 at 5 16 59 PM](https://user-images.githubusercontent.com/1163554/54788493-30db5380-4bfd-11e9-8a7d-fd4761b3b04d.png)

[2019-03-21 22:20] #3 closed, assigned to nobody

[2019-03-22 13:59] ashleygwilliams opened #7 "make this a "workspace""
this way we can publish the library and the binary separately. https://doc.rust-lang.org/book/ch14-03-cargo-workspaces.html

[2019-03-22 15:04] ashleygwilliams opened #8 "CI is not running on PRs/branches?"
we'll want it to do so when we open source this

[2019-03-22 15:33] ashleygwilliams opened #9 "add an example"
examples in rust are tested in tests  (easy to maintain) and and are a good tool for supporting users. since we won't have full docs for release, i think we should offer 2-3 examples of using the libary. @vkrasnov - do you think this is something you could do today?

[2019-03-22 15:48] ashleygwilliams opened #11 "enforce cargo fmt on CI"

[2019-03-22 19:07] #8 closed, assigned to nobody

[2019-03-22 19:21] ashleygwilliams opened #12 "cargo clippy + cargo check fail because of --emit asm"
[code]

[2019-03-22 21:07] ashleygwilliams opened #14 "run cargo clippy"

[2019-03-22 21:28] ashleygwilliams opened #16 "remove git dep for publishing to crates.io"
currently we are depending on a fork of a crate that exists only on github. we should definitely upstream our patch to the crate but in the meantime, we don't want this to block us publishing. i'd recommend that we publish a crate with the change and then swap it out when we get the changes upstreamed :)

[2019-03-22 21:54] #5 closed, assigned to ashleygwilliams

[2019-03-22 21:54] #11 closed, assigned to ashleygwilliams

[2019-03-22 22:27] ashleygwilliams opened #18 "add required fields to cargo toml"

[2019-03-22 23:19] ashleygwilliams opened #20 "2018 edition"

[2019-03-23 18:08] #18 closed, assigned to ashleygwilliams

[2019-03-23 18:10] #14 closed, assigned to ashleygwilliams

[2019-03-24 13:32] #4 closed, assigned to ashleygwilliams

[2019-03-25 15:54] ashleygwilliams opened #23 "testing header in README is too large"
is an h2 but should be h3

[2019-03-25 15:56] ashleygwilliams opened #25 "add crates.io badge"

[2019-03-25 15:59] ashleygwilliams opened #26 "push ci prebuilt binaries to GH releases"

[2019-03-26 02:48] #7 closed, assigned to nobody

[2019-03-26 15:24] dknecht opened #29 "Add support for Freebsd"

[2019-03-26 15:24] dknecht opened #30 "Remove remaining CF specific naming"
The main one left is CFJNI

[2019-03-26 15:28] dknecht opened #31 "Add equivalent commands to wg tool"

[2019-03-26 15:30] dknecht opened #32 "Add homebrew formula"
Make it easy to install on the Mac.

[2019-03-26 16:48] #20 closed, assigned to ashleygwilliams

[2019-03-27 17:49] #16 closed

[2019-03-27 17:50] #25 closed

[2019-03-27 17:57] mathstuf commented on #23
Looks to have been fixed.

[2019-03-27 18:11] #23 closed

[2019-03-27 18:23] PhilsLab opened #38 "Add Dockerfile / Docker Hub CI"
I'd love to run this application inside a docker container.
I ran wireguard-go inside a docker container in the past, i believe this is possible with this project as well.
In an example use case, the only additional requirements are adding the required capabilites via `docker run --cap-add=NET_ADMIN --device=/dev/net/tun [...]` for wireguard to create the tunnel interface.

Dockerfile from my wire

[2019-03-27 20:08] vkrasnov commented on #38
It should be easy to do once we publish it on crates.io

[2019-03-27 20:45] vkrasnov opened #39 "Add cookie replies (MAC2) and DoS mitigation"
Right now cookie replies to initiation handshake messages are accepted.
Cookie replies to response messages are ignored.

No cookie replies are generated at all.

[2019-03-27 20:46] vkrasnov opened #40 "Allow to modify existing peers"
Currently the only way to modify a peer is to remove it, and then add again with new config.

[2019-03-27 21:02] #30 closed

[2019-03-27 23:03] Noctem commented on #32
@Homebrew will presumably want a release tarball that doesn't have "TEST" in the name and that isn't cut from an experimental branch.

In the meantime you're welcome to use [this formula](https://github.com/Noctem/homebrew-custom/blob/master/boringtun.rb) from my tap:
[code]
(you can also `brew tap` that repo, but it includes other unrelated things)

[2019-03-28 06:35] kpp opened #42 "Use make_array instead manually defining arrays where appropriate"
https://github.com/cloudflare/boringtun/blob/3c9c01c7361f321e54c687bb8d099a0398d6692a/src/noise/mod.rs#L271

https://crates.io/crates/byteorder

[2019-03-28 07:52] hellow554 commented on #12
Maybe worth opening an ticket in the rust repo?

[2019-03-28 07:54] hellow554 commented on #42
(I'm not a member of cloudfare) I don't see any strong reason to pull the byteorder crate in. Rust natively supports these functions since 1.32.0 and if you do not target lower versions of the compiler this is completly fine IMHO.

[2019-03-28 08:11] kpp commented on #42
u32::from_le_bytes(make_array(&self.buf[0..])),

[2019-03-28 10:32] PhilsLab commented on #38
I successfully tested this Dockerfile, which does not need the crate @ crates.io.
With proper CI rules @ Docker Hub, it could be built every time a new release tag is created in git.

It builds boringtun via the [docker builder pattern](https://docs.docker.com/develop/develop-images/multistage-build/#use-multi-stage-builds), and the copies the binary to a new debian container.

[code]

To configur

[2019-03-28 10:42] bugworm opened #44 "Doesn't work with sudo"
[code]
Works fine without sudo(asks a password) and from root.
Arch Linux, was installed from AUR(it's pretty much just `cargo build --release`)

[2019-03-28 13:16] vkrasnov commented on #44
I think you might have to do something like
`sudo env WG_QUICK_USERSPACE_IMPLEMENTATION=boringtun wg-quick up wg0`
On Arch Linux.

[2019-03-28 13:18] bugworm commented on #44
yeah, that works.

[2019-03-28 13:18] #44 closed

[2019-03-28 13:26] vkrasnov commented on #42
I try to keep dependencies that use unsafe rust to a minimum. Also using `from_le_bytes + make_array` results in a single mov instruction emitted.

[2019-03-28 13:33] kpp commented on #42
Then use from_le_bytes + make_array. No need to close this issue until you have synchronized style for parsing raw bytes. You can rename my issue.

[2019-03-28 13:48] darix opened #45 "can we get a release tag that isnt vTEST?"
maybe even just 0.0.1 or so. would help us packagers a bit :)

[2019-03-28 14:16] floating-cat opened #46 "[Feature request] Support for BoringTun over TCP"
There was a similar feature request in WireGuard mailing list[1], and Tunsafe (another implementation of the WireGuard protocol in the userspace) has already supported this feature in their beta version.

Though Wireguard kernel version may not want to support this feature for various reason, but I think this is a good idea to support this feature in the userspace Wireguard implementation.

Variou

[2019-03-28 15:44] decke commented on #29
I've created a FreeBSD Port for boringtun and included the patch from PR #35 - seems to build fine on FreeBSD 11.2 and 12.0 but I haven't done any runtime testing yet.

https://code.bluelife.at/decke/ports/src/branch/master/net/boringtun

[2019-03-28 16:46] vkrasnov commented on #44
I will add that to README, thank you.

[2019-03-28 16:47] vkrasnov commented on #42
That is a valid point

[2019-03-28 16:52] vkrasnov commented on #45
I added v0.2.0

[2019-03-28 16:52] #45 closed

[2019-03-28 17:01] vkrasnov commented on #29
Cool. Yes it builds but we need to make it work with the CI to have official support. Also I wan to land sendmmsg and recvmmsg before FreeBSD as it provides significant performance benefits there.

[2019-03-28 21:22] decke commented on #29
Don't know if it is an option but cirrus-ci.org has FreeBSD support and is free for open source projects.

[2019-03-28 22:18] vkrasnov commented on #29
The problem is that there are interop tests that interact with wireguard-go in a container, and although there is experimental docker support on FreeBSD, wireguard refuses to work there. But maybe I just need to use a native container.

[2019-03-29 11:24] Lekensteyn opened #48 "Improve error checking paths during startup"
In `src/main.rs`, there are some code paths that ignore errors. Among the possibly problematic ones are:

* When run as root, any failure to change user/group IDs will not result in a fatal error. This might might increase the risk of running with unnecessary privileged. (btw, the option name is misspelled, #43 was incomplete.)
[code]
* When running backgrounded (without `--foreground`), any error

[2019-03-29 11:25] comicfans opened #49 "add arm linux soft float build target ?"
Hello,  there're many ARM routers which lacks hard float (for example Netgear R7000/R6300v2, running bcm 4708/4709, Cortex A9) , and they're running old kernel (can not use kernel implementation), it will be very helpful if boringtun can provide soft float build for these devices.

[2019-03-29 13:25] vkrasnov commented on #49
What happens if you try to build it with `--target arm-unknown-linux-gnueabi`?

[2019-03-29 14:09] Lekensteyn opened #50 "Incomplete session lifetime management (key rotation)"
WireGuard protocol requirements for per-peer session lifetime based on the whitepaper:

 1. Sessions must no longer be used REJECT-AFTER-TIME (180 seconds). Data must not be sent when a session is expired and received data must be ignored.
 2. If an *initiator* sends data and session age >= REKEY-AFTER-TIME (120 seconds), it should attempt to start a new handshake.
 3. If a *responder* receives da

[2019-03-29 16:12] engelmarkus opened #51 "Timer problem in virtualized environment"
Hi there,
I'm trying to run boringtun on a vServer that uses virtuozzo as its hypervisor and it exits immediately with the following message:
[code]

The system:
[code]

Have you got any clue what could be causing this?

Regards,
Markus

[2019-03-29 17:54] vkrasnov commented on #51
My guess would be some problem using `timer_fd` with `CLOCK_BOOTTIME`

[2019-03-29 17:58] Lekensteyn opened #52 "Split Noise from WireGuard handshake processing"
Cryptographic calculations for the Noise-based handshake should probably be separated from WireGuard-specific additions, like Type, Receiver/Sender ID, MAC1, MAC2. Advantages would be:

 * Able to verify the Noise-specific implementation without distraction from "unimportant parts" (MAC1, etc.)
 * Able to verify the WireGuard-specific parts with the ability to abstract away the Noise computations.

[2019-03-29 18:00] Lekensteyn opened #53 "Loosen precision of timestamp in initiation message"
Right now the timestamp field of the initiation message is too precise due (`TimeStamper::stamp`). It should be truncated to avoid acting as a time oracle which could aid in other attacks.

The Linux kernel implementation choses to truncate the value based on the possible number of initiations per second, see https://github.com/WireGuard/WireGuard/commit/c62836ef83bf.

[2019-03-29 18:44] Lekensteyn opened #54 "Missing check for message limits, issues with data message counter"
The protocol defines the following message limits:
* Rekey-After-Messages 2^64 * 2^16 - 1
* Reject-After-Messages 2^64 − 2^4 − 1

Although unlikely in practice, the implementation must check that these message limits are not reached and avoid a counter wraparound. The implementation of ReceivingKeyCounterValidator in src/noise/session.rs must be updated to check this.

Right now a malicious implem

[2019-03-29 19:04] Lekensteyn opened #55 "Peer indices should be unpredictable and unique per session"
Peer indices (sender/receiver IDs) seem to start with zero and are incremented by one:
[code]

Which are used right here:
[code]

Problems:
 * The receiver/sender ID should be random and unpredictable. Otherwise it could give an attacker an advantage in pulling off a denial of service attack.
 * A monotonically increasing counter from 0 could leak activity and reveal whether a peer has actually co

[2019-03-29 19:09] Lekensteyn opened #56 "Do not panic when adding peers with duplicate public keys"
As an API user, I would appreciate an error rather than killing the whole application:
[code]

[2019-03-29 19:14] engelmarkus commented on #51
Indeed, that's the problem, thank you!
[code]

https://github.com/cloudflare/boringtun/blob/e765e12613e8eb33e39e7fb0676ad5797c02c5f6/src/device/epoll.rs#L104

So I think I could change this to `CLOCK_MONOTONIC` when I can guarantee that the system won't be suspended as long as boringtun is running?

[2019-03-29 19:33] Lekensteyn opened #57 "Validate allowed_ips for overlapping addresses"
If a two peers are added with `0.0.0.0/0`, then that should probably be rejected with an error. Based on `$insert` in allowed_ips.rs and the code below, it looks like the current behavior is to silently overwrite existing peers. Not sure if that is desirable.

[code]

It would be nice to have tests as well. One thing I am not entirely sure about is how to handle overlapping ranges, e.g. `10.1.2.0/

[2019-03-29 19:39] vkrasnov commented on #57
No, the correct behavior is to override the previous peer, which boringtun does. Check https://www.wireguard.com/xplatform/:

[code]

[2019-03-29 19:40] vkrasnov commented on #51
That is right

[2019-03-29 19:48] vkrasnov commented on #54
Impossible in practice.

But it would only compromise the connection with the malicious implementation itself, not any other connection, I don't really see the problem here.

I could have sworn that I implemented that, but apparently I didn't, good catch

[2019-03-29 19:52] vkrasnov commented on #55
I don't think there is a requirement for that in the wireguard specification. Unlinkability is not a property of wireguard

[2019-03-29 19:53] vkrasnov commented on #56
It will be fixed by #40

[2019-03-29 19:53] #56 closed

[2019-03-30 00:54] Noctem commented on #32
I see that a proper release has been made so I've created a PR here: Homebrew/homebrew-core#38533

Let me know if there's anything that should be changed.

[2019-03-30 00:57] Lekensteyn commented on #55
I can't find "unlinkability" in the WG whitepaper either. Based on the message interactions and IP/ports the protocol is already linkable, but this decision could make it worse by having another way in the protocol to link sessions.

My third "problem" was based on a misinterpretation, I overlooked the `>> 8`. So the top 24 bit is used for the peer ID, the last 8 bits are reserved for the "cyclic

[2019-03-30 02:03] vkrasnov commented on #55
I am not sure it qualifies as a bug thought

[2019-03-30 02:55] comicfans commented on #49
I'm trying. some distro (archlinux) only provided hardfloat toolchain, makes cross compile painful. so I wonder if build CI can provide such variant directly.

[2019-03-30 21:35] vkrasnov commented on #49
Can you check #47?

[2019-03-31 02:47] comicfans commented on #49
build arm-unknown-linux-musleabi but can't setup device successfully.
[code]
gdb shows that program received SIGILL

<pre>
Breakpoint 1 at 0xade84: file src/device/epoll.rs, line 105.
(gdb) c
Continuing.

Breakpoint 1, <boringtun::device::poll::EventPoll<H>>::new_periodic_event (
    self=0x331c18, handler=..., period=...) at src/device/epoll.rs:105
105                 -1 => return Err(Error::Time

[2019-03-31 12:58] vkrasnov commented on #49
That looks like #51

[2019-03-31 17:29] dknecht opened #58 "Add automated fuzz testing"
Either use Google's ( https://github.com/google/oss-fuzz ) or crate our own.

[2019-04-01 01:54] comicfans commented on #49
CLOCK_BOOTTIME (requires 3.15) is not supported by 2.6, but after changed to CLOCK_MONOTONIC, boringtun still crash

<pre>
root@unknown:/tmp# RUST_BACKTRACE=full ./boringtun -f wg0
thread '<unnamed>' panicked at 'called `Result::unwrap()` on an `Err` value: IOCtl("Resource busy")
', src/libcore/result.rs:997:5
stack backtrace:
thread '<unnamed>' panicked at 'called `Result::unwrap()` on an `Err` v

[2019-04-01 02:39] comicfans commented on #49
child process failed at tun_linux.rs line 88,   IFF_MULTI_QUEUE is only supported by kernel 3.8. by remove it and run with thread number = 1, boringtun finally bring up wg0.  it prints
<pre>
Poll error Interrupted system call
Poll error Interrupted system call
</pre>
but not crashed

[2019-04-01 10:53] vkrasnov commented on #49
Thank you. What happens if you run with ‘disable-multi-queue’?

[2019-04-01 11:03] comicfans commented on #49
unmodified boringtun(except musl SIOCGIFMTU) can bring up wg0 if
run with --disable-multi-queue (without specified thread number)

[2019-04-01 11:23] #57 closed

[2019-04-01 12:46] vkrasnov commented on #49
So if I fix #47 and add information to README, would that suffice?

[2019-04-01 15:44] Lekensteyn opened #61 "Send a queued data packet when a Handshake response packet is received"
Right now when a Handshake response is received (in reply to an Initiation message), a Keep-Alive message is sent. Instead it should try to send a queued message when available (which is what others implementations do).

Relevant code in src/noise/handshake.rs:

[code]

[2019-04-01 16:05] vkrasnov commented on #61
The interface requires to call `network_to_tunnel` with empty source in such a case https://github.com/cloudflare/boringtun/blob/master/src/noise/mod.rs#L158

This is when the queue is flushed

[2019-04-01 17:10] alex opened #62 "Result::is_ok used incorrectly"
- https://github.com/cloudflare/boringtun/blob/master/src/device/api.rs#L19
- https://github.com/cloudflare/boringtun/blob/master/src/device/api.rs#L43

Both of these seem to be trying to use it as an assertion, however `Result::is_ok()` simply returns a `bool`. I think both of these should be using `expect()` instead.

[2019-04-01 17:14] alex commented on #62
It occurs to me that maybe the intent here was to silence the `#[must_use]` on `Result`. If that's the intent, I think the convention is to do `let _ = <ignored expression>;` instead, which is much clearer about what you're doing.

[2019-04-01 17:36] alex commented on #62
`Result::ok()` is used in the same way in a bunch of places. One example: https://github.com/cloudflare/boringtun/blob/master/src/main.rs#L148

This example is dangerous because it means errors in dropping privileges (i.e. the process is still `root`) are ignored.

[2019-04-01 18:01] Lekensteyn commented on #62
The drop privileges issue is tracked in #48.

[2019-04-01 18:04] Lekensteyn commented on #61
Yes, but by the time that happens a Keep-Alive is already created. Would it be an idea to return a special "TunnResult::FlushToNetwork" that triggers flushing queue (and optionally creates a Keep-Alive packet if there is no data)?

Functionally it will probably not make a difference though, so consider this a low-priority thing (the key rotation issue is much more severe).

[2019-04-01 18:22] vkrasnov commented on #62
You are right about must use suppression, since creating a directory will fail if it already exists, and removing a file will fail if it does not exist. In both cases we don't really care what happens.

I actually assumed that `.is_ok()` is so much prettier than other options, but maybe it is not idiomatic.

[2019-04-01 23:02] #54 closed

[2019-04-01 23:04] vkrasnov commented on #54
I have to merge the PR because it fixes a critical issue, but I will open a new issue that only addresses the limits. Or you are welcome to do so.

[2019-04-02 01:06] comicfans commented on #49
I think it's OK, but detect kernel version and setup these automatically will be better.

[2019-04-02 03:46] ayosec commented on #62
IMO, `let _ = create_dir(SOCK_DIR);` is better, since the intention (ignore the result) is more explicit.

[2019-04-02 07:00] HazCod opened #63 "Relation to Wireguard upstream"
Reading this post from one of the Wireguard maintainers: https://lists.zx2c4.com/pipermail/wireguard/2019-March/004048.html

Are there any specific reasons for not sharing changes upstream?
It's great that a company like Cloudflare uses an opensource project to work with, but refusing to join in on the project seems counterproductive.

Is there an official stance on this?

[2019-04-02 08:35] jgrahamc commented on #63
See https://news.ycombinator.com/item?id=19545376

[2019-04-02 08:35] #63 closed

[2019-04-02 11:34] Lekensteyn opened #64 "Missing check for message limits"
A performance issue with message counters in #54 was closed via #59. However an explicit check for large message counters is still missing. To reiterate from #54:

Note that it is practically very, very unlikely to reach these limits. However, it is possible for a malicious implementation to send packets with arbitrary high counter values. It would simplify code analysis if integer overflows can b

[2019-04-02 21:56] zrzka commented on #62
It's not idiomatic. What ayosec did wrote (`let _ = ...`) is.

[2019-04-03 17:34] MoorayJenkins opened #68 "[Enhancement] Error correction (reed solomon) for dropped packets"
Wireguard is agnostic to dropped packets (it's the job of applications reliant on UDP transmissions or just TCP to handle retransmits) but this results in abysmal performance in environments where dropped packets are common.

There are multiple solutions to this on github, basically socat-ing an error correcting (reed solomon) tunnel to go through Wireguard and use that instead. ex: https://github

[2019-04-03 20:03] vkrasnov commented on #68
Yes, this is something we would concider

[2019-04-04 20:25] naftulikay opened #69 "Unable to run BoringTun in Docker"
I'm trying to use BoringTun in a Docker container in order to provide a low-overhead skyhook-style VPN in a container scheduler.

My Docker compose looks like this:

[code]

I'm using Ubuntu 18.04 as a base image and I'm installing the WireGuard PPA and the `wireguard` and `wireguard-tools` packages.

Within this container, if I run `boringtun --foreground wgnet0`, I get the following output:

[co

[2019-04-04 20:45] vkrasnov commented on #69
Check #38
In particular you need to run docker with
`--cap-add=NET_ADMIN` and `--device=/dev/net/tun`

[2019-04-04 21:25] naftulikay commented on #69
@vkrasnov closing, thank you! Adding the device solved it for me.

On a relevant note, I was planning on running BoringTun in AWS Fargate for ECS (serverless containers) but unfortunately Fargate does not support `--device`, which invalidates my work :(

[2019-04-04 21:25] #69 closed

[2019-04-05 17:14] #42 closed

[2019-04-10 21:15] lwhsu commented on #29
We also have wireguard-go on FreeBSD, although there is no container, it might still be possible to run those test scripts on Cirrus-CI's FreeBSD instance.

[2019-04-11 11:53] jait opened #71 "Boringtun won't start if IPv6 is disabled"
When running boringtun on a system where IPv6 is disabled, I get:
`Socket("Address family not supported by protocol")`
and the process exits.

Strace indicates that the reason is indeed IPv6 socket creation:
`socket(AF_INET6, SOCK_DGRAM, IPPROTO_IP) = -1 EAFNOSUPPORT (Address family not supported by protocol)`

[2019-04-11 12:35] vkrasnov commented on #71
Yes, currently the expectation is that both v4 and v6 are supported. It will be fixed, thank you.

[2019-04-12 02:56] paolieri commented on #49
This would actually be very helpful! Most routers are ARM with 2.6 kernels.

[2019-04-21 18:13] bingh0 commented on #68
Would it be more appropriate to use existing standards such as FECFRAME with UDP packets (https://tools.ietf.org/html/rfc6681) and more modern codes with better computational and error-correcting efficiency such as RaptorQ (https://tools.ietf.org/html/rfc6330)?

Qualcomm's IPR is very clear in this use case (https://datatracker.ietf.org/ipr/2554/) that it would not assert any licensing claims.

[2019-04-21 20:49] MoorayJenkins commented on #68
@bingh0 Reed Solomon is an optimal code (maximum distance) for this purpose. RaptorQ is not suitable for this purpose - it's mostly for streaming moderately large chunks of data with low decoding complexity (it is slightly less bandwidth efficient than RS by the way). And LDPC code is one of the best on the level of bits. With UDP we are dealing with packet erasure/drop since corrupt packets will

[2019-04-22 04:21] hank opened #72 "OpenVZ issue: Invalid Argument"
I've got Ubuntu 16.04 running in an OpenVZ VPS instance, kernel:

[code]
TUN is enabled:

[code]

Here's what I get:

[code]
I've done this already:
[code]
And it didn't throw any errors. Here's the current state:

[code]

Any advice appreciated!

[2019-04-22 15:14] vkrasnov commented on #72
It looks like a duplicate of #51

[2019-04-22 16:02] zbeekman commented on #32
The release seems to have vanished... what gives?

[2019-04-22 16:07] vkrasnov commented on #32
Looks like it was removed by mistake, I pushed it back

[2019-04-22 16:11] zbeekman commented on #32
😅

[2019-04-22 18:36] #72 closed

[2019-04-22 18:37] vkrasnov commented on #72
I opened a PR to fix this and #51

[2019-04-22 19:50] #51 closed

[2019-04-23 01:50] hank commented on #72
This totally worked. Thanks!

[2019-04-24 00:58] bingh0 commented on #68
I am certainly not the most qualified to discuss the technical merits of various erasure codes, but who better to ask than Mike Luby, the inventor of LT codes (Luby Transform) who supervised the team that invented tornado codes? I have reprinted his reply without modification below (with his permission).

* * *

I’m no longer with Qualcomm, and I’ve rejoined the non-profit research institute (Inte

[2019-04-24 02:30] MoorayJenkins commented on #68
This does not apply here as we have cryptography at play, every UDP packet will be unique.

True but nowhere close to 256 will never be used much less more, Cloudflare will never agree to increase bandwidth consumption by **two orders of magnitude** to accommodate some poor guy who has an effectively impossibly bad connection. I anticipate 10 is going to be the absolute maximum with perhaps as low

[2019-04-24 15:45] #48 closed

[2019-04-24 17:41] vi opened #75 "`Failed to drop privileges: DropPrivileges("NULL from getlogin")`"
When started from root, it fails:

[code]

With `--disable-drop-privileges` it goes through.

`getlogin` is [said](https://stackoverflow.com/a/4785195/266720) to be a non-recommended way of determining user.

[2019-04-24 17:43] vkrasnov commented on #75
Thank you. I intend to add an option of specifying user and group via the cli.

[2019-04-27 09:48] kar opened #76 "Sample for Android"
Is there any sample of integrating boringtun with Android VPN api available, or are we currently at the level of jni bindings? Thanks

[2019-04-27 11:37] kar commented on #76
I am trying to compile boringtun for Android:

```cargo build --lib --release --target armv7-linux-androideabi```

(I did setup the ndk toolchain)

Getting following errors:

[code]

am I doing something wrong?

[2019-04-29 14:44] vkrasnov commented on #76
We have a fix for that.

[2019-04-29 18:24] naga-cf opened #77 "Change JNI function names to BoringTun and fix Android build."

[2019-05-03 11:26] taavi013 opened #79 "iOS new_tunnel(..) returns NULL sporadically"
I have successfully created client and Network Extension with boringtun for iOS
- XCode 10.2 (10E125), iOS 12.2)
- rustc 1.34.0 (91856ed52 2019-04-10)
- cargo-lipo 3.0.1
- cargo 1.34.0 (6789d8a0a 2019-04-01)

Tunnel to linux kernel implementation works.

However about 1/2 to 1/3 times when calling new_tunnel(..) it returns NULL.

Do you have any suggestions how to debug the issue? Or is it somethi

[2019-05-03 13:57] taavi013 commented on #79
Yes, this was trivial error, when using correct conversion from Swift String to cString everything is better:

[code]

[2019-05-03 13:57] #79 closed

[2019-05-03 22:34] aledcuevas opened #80 "What does it mean that the library "implements the Wireguard protocol, without the network or tunnel stacks"?"
I am trying to assess whether the library will be functional enough to implement a Wireguard client in iOS, Android, and Windows, based on boringtun.

I am wondering, however, what exactly the following sentence (specified in the README), means:

[2019-05-04 18:23] Dieff opened #81 "Unable to remove private key with userspace interface"
When trying the boringtun user space socket interface, I noticed that it is currently impossible to remove a private key. The [specification](https://www.wireguard.com/xplatform/) for Wireguard user space implementations states that the private key can be removed.

## Platform

I'm using borington 0.2.0 on Linux `5.0.10-arch1-1-ARCH`.

## Reproduce
- Install a new copy of `boringtun` from cargo
-

[2019-05-06 16:25] vkrasnov commented on #80
It is functional enough, after all we use it just for that.

Idiomatic means that for example on iOS if you must use NetworkExtensions and [NEPacketTunnelProvider](https://developer.apple.com/documentation/networkextension/nepackettunnelprovider).

You also use the platform dependent routing and UDP connection to a server.

On [packetFlow.readPackets](https://developer.apple.com/documentation/netw

[2019-05-08 09:37] 0-wiz-0 opened #82 "Compilation problem (rust-1.34.0, NetBSD)"
I just tried building git head (37be474161191bb3269204772a998633b4e6a968) on NetBSD with rust-1.34.0. It failed:
[code]
I don't know enough about rust to differentiate this in NetBSD problem and general problems, sorry.

[2019-05-08 23:42] jmayalag opened #83 "iOS Configuration"
I'm trying to piece out how to integrate with NEPacketTunnelProvider, however I can't figure out how to configure the tunnel. The **wireguard-go** api allows one to create the tunnel with the settings from the .conf file, but boringtun's ffi only allows me to set the private key and server public key.

How can the configuration be accomplished using the borintun lib?

[2019-05-10 01:11] brittson opened #84 "Compilation Error Fedora 30"
While compiling using cargo method on fedora 30 server ,getting this error

error: failed to compile `boringtun v0.2.0`, intermediate artifacts can be found at `/tmp/cargo-installZw7MiR`

Any ideas ?

[2019-05-13 12:26] brittson commented on #84
found out you need to have gcc installed

[2019-05-13 12:26] #84 closed

[2019-05-14 17:20] vkrasnov commented on #83
boringtun library is mostly intended to be used as a "client" peer configuration, with one or very few "server" peers.
A typical wireguard config includes:
your private key - you pass it when you create the tunnel
server public key - you pass that as well

The rest are using: [setTunnelNetworkSettings](https://developer.apple.com/documentation/networkextension/netunnelprovider/1406539-settunnelnet

[2019-05-16 05:48] gothmog123 opened #85 "is it possible to connect to warp on a linux desktop with boringtun right now?"
If so, how?

[2019-05-16 20:49] vkrasnov commented on #85
BoringTun only implements WireGuard. Warp is more than that, but we will certainly add Warp functionality in the future.

[2019-05-23 23:30] davidsarkany commented on #38
I got this error

`docker run -it --rm --cap-add=NET_ADMIN --device=/dev/net/tun -v /var/run/wireguard:/var/run/wireguard -p 36190:36190 -e WG_LOG_LEVEL=debug boringtun`

[2019-05-24 00:42] vkrasnov commented on #38
@davidsarkany are you running as root inside the container? Try `--disable-drop-privileges`

[2019-05-28 03:06] mash-graz opened #86 "cli option --disable-drop-privileges incompatible with wg-quick"
in the context of docker cointainers, where `boringtun` is executed by `UID 0`, we have to utilize `--disable-drop-privileges`, but this workaround isn't available, if we have to use the `WG_QUICK_USERSPACE_IMPLEMENTATION` environment variable to instruct `wg-quick` to use `boringtun`. in this case it isn't possible to specify any additional user space tool command line options and `wg-quick` will

[2019-05-28 10:39] vkrasnov commented on #86
How about an env variable?

[2019-05-28 10:44] mash-graz commented on #86
yes -- that's another possibility... :+1:

we just need a simple and user friendly solution, which does not need to much modifications in other exiting programs/scripts...

[2019-06-07 15:20] dknecht opened #87 "Ability to easily convert base64 to hex and back"
x25519 key from base64
x25519 key from hex

[2019-06-07 15:30] dknecht opened #88 "expose ffi / jni function to go from key from base64 or hex"
https://github.com/cloudflare/boringtun/blob/b040eb4fd1591b1d5ceb07c6cbb0856553f50adc/src/crypto/x25519/mod.rs#L102

[2019-06-29 13:20] neutronscott opened #89 "expected i16, found i32 in tun_linux.rs"
I have never used Rust so I am sorry if I am not much use in solving this. I wanted a userspace wireguard in OpenVZ. I apply the CLOCK_BOOTTIME fix #73 but get:

[code]

I circumvented this by changing the ifru_flags to c_int. It seems to work and didn't look like it was in master branch or covered in an issue.

This may be because changes missing/applied to libc. I have libc-0.2.58:

[code]

[cod

[2019-07-04 02:56] Daniel15 opened #90 ""boringtun failed to start""
This error doesn't give much debugging info, unfortunately:
[code]

Debian 9 (Stretch) on an OpenVZ VPS.

[2019-07-04 02:59] Daniel15 commented on #89
I hit this issue too. Thanks for the fix - Changing `ifru_flags` from `c_short` to `c_int` on this line fixed the build for me too: https://github.com/cloudflare/boringtun/blob/1f842a618a4efb460841a3e0104f4979b21a2485/src/device/tun_linux.rs#L27

[2019-07-04 03:41] neutronscott commented on #90
That's the timer thing I mentioned in my issue. See https://github.com/cloudflare/boringtun/pull/73 for fix

[2019-07-04 03:45] neutronscott commented on #90
I also used a couple command line options to get it going after that:
[code]

[2019-07-07 00:22] Gawen commented on #12
As a work around during a development phase, I suggest to comment the following line to make `cargo check` works:

https://github.com/cloudflare/boringtun/blob/37be474161191bb3269204772a998633b4e6a968/.cargo/config#L4

[2019-07-07 00:36] vkrasnov commented on #89
Thank you, another solution is to do `(IFF_TUN | IFF_NO_PI | IFF_MULTI_QUEUE) as _` to keep it compatible with other platforms

[2019-07-09 04:38] papertigers opened #91 "boringtun should support illumos"
On going effort can be found here:
https://github.com/papertigers/boringtun/tree/illumos

The goal is to clean this up and get a PR open.

[2019-07-09 12:20] Jimmy-Z opened #92 "wg complains 'Unable to modify interface: Unknown error -98'"
Debian 9, default kernel 4.9
rustc version 1.36.0
wg from WireGuard-0.0.20190702.tar.xz

`# boringtun -f -v debug wg1` either doesn't output anything or this:
[code]

README.md says

but
[code]
`/tmp/boringtun.err` is empty and `/tmp/boringtun.out` contains only one line:
[code]

What am I doing wrong?

[2019-07-09 12:24] Jimmy-Z opened #93 "unconventional -v (original title: Invalid --help message)"
[code]

However:
[code]

`boringtun wg0 -f -v` works.

[2019-07-09 12:59] vkrasnov commented on #93
The help message is correct.
The problem is that `-v` is an option and not a flag, and expects an argument (silent, info or debug).

`boringtun -f -v info wg0` would work.

I agree that this is counter intuitive if you are used to modify verbosity using multiple `-v` flags.
I will modify that behavior in the next version and will keep this issue open to track.

[2019-07-09 13:20] Jimmy-Z commented on #93
Sorry, didn't notice that, I've updated the title to reflect this.

[2019-07-09 13:26] vkrasnov commented on #92
wg always sets fwmark (even if to 0) therefore you should start boringtun with `--disable-drop-privileges` or give it net admin capabilities using `sudo setcap cap_net_admin+epi boringtun`

[2019-07-09 13:37] Jimmy-Z commented on #92
Thanks for the quick reply, but I tried again with `--disable-drop-privileges`, and I'm running it as root, wg complains the same.

I'll try again with an older wg.

[2019-07-09 14:30] Jimmy-Z commented on #92
update: tried with wg 0.0.20190406, same result.

[2019-07-09 14:31] vkrasnov commented on #92
which directives do you use in the config file?

[2019-07-09 14:50] Jimmy-Z commented on #92
My bad, I have the kernel module running with the same conf as wg0, I thought that won't be a problem until I realize the ListenPort will conflict.

[2019-07-09 14:50] #92 closed

[2019-07-09 14:59] Jimmy-Z commented on #92
I'd suggest you to add 'wg always sets fwmark' in README.md, I admit I didn't read the README fully but I wouldn't be able to link the problem to that even if I did read the README.

[2019-07-18 13:07] #39 closed

[2019-07-18 16:35] vkrasnov commented on #50
I opened a PR that directly fixes problems 1, 4, 5 and 6.

Problem 2: indeed that is an extra handshake message, but I don't see much harm in it. To fix, we'd have to add an extra overhead to check the time for each processed outbound packet. If no data is sent using the new session, no new handshakes should be exchange further on.

Problem 3:
It seems the whitepaper is in disagreement with https:

[2019-07-18 17:21] #52 closed

[2019-07-18 17:22] vkrasnov commented on #52
Fixed in #94

[2019-07-18 17:36] vkrasnov commented on #90
@Daniel15 were you able to solve the problem?

[2019-07-18 17:38] Lekensteyn commented on #50
Problem 1 is not fully addressed, out-of-order packets (legitimate or forced by an attacker) can still convince a receiver to change a new session to an old session:
https://github.com/cloudflare/boringtun/blob/6feb8e6c8cd7dae0e377afca0d727350255650ee/src/noise/mod.rs#L391-L397
Before changing the session, it should probably check that the candidate session is newer than the current one.

Problem

[2019-07-18 18:45] vkrasnov commented on #50
but it checks for: `keypair.isInitiator`

[2019-07-19 11:32] #50 closed

[2019-07-19 14:24] #62 closed

[2019-07-19 14:24] #86 closed

[2019-07-19 14:24] #89 closed

[2019-07-19 14:46] Daniel15 commented on #90
I haven't tried it again, I ended up using wireguard-go instead. I'll close out this issue as it seems linked the linked PR fixes it.

[2019-07-19 14:46] #90 closed

[2019-07-19 15:27] #85 closed

[2019-07-24 10:44] sjorge commented on #91
I had a quick play with it, and it seems to work. I did not give it as very long shakedown however.

[2019-07-24 19:01] papertigers commented on #91
@sjorge there's also the `illumos-eventports` branch which swaps out epoll for eventports.  I think I can make some more optimal changes there as well but haven't pushed the commit yet.

I also need to revisit the privilege dropping stuff.  It seems the current way the setuid stuff happens doesn't play well with tmux for example so in my branch I just ignore that and rely on dropping all privilege

[2019-08-02 09:31] luispabon opened #97 "Compilation problem in ubuntu bionic"
While trying to create a docker image using cargo install, compilation failed at

[code]
Ubuntu bionic
cargo 1.35.0
rustc 1.35.0

[2019-08-02 18:39] vkrasnov commented on #97
This is fixed in the master branch

[2019-08-04 20:04] #83 closed

[2019-08-05 15:31] vkrasnov opened #98 "tx_bytes and rx_bytes are reversed in the API"

[2019-08-09 15:36] jmayalag opened #99 "JNI Bindings require using Kotlin"
The exported names require you to use Kotlin in order to use JNI.

For example `Java_com_cloudflare_app_boringtun_BoringTunJNI_00024Companion_x25519_1secret_1key`,
requires a class with a `companion` object, making it incompatible with Java only projects.

Removing `00024Companion` from all exported names should do the trick. Adding a `@JVMStatic` annotation to all the Kotlin methods will generate

[2019-08-13 18:47] #99 closed

[2019-08-26 08:17] yaoshenshen commented on #75
when I run  root
./boringtun -f wg0
Failed to drop privileges: DropPrivileges("Failed to permanently drop privileges")

if this error is a bug  ?

[2019-08-26 08:20] yaoshenshen opened #101 "Failed to drop privileges: DropPrivileges("Failed to permanently drop privileges")"
**
when i run root
./boringtun -f wg0
Failed to drop privileges: DropPrivileges("Failed to permanently drop privileges")

It hava a error message
**

[2019-08-29 01:35] yaoshenshen commented on #101
This is fixed  when i running command " boringtun wg1 --disable-drop-privileges root"

boringtun wg1 --disable-drop-privileges root
BoringTun started successfully

[2019-09-10 17:10] onevelik opened #102 "Add benchmarks comparing boringtun with wireguard-go and official kernel-space impl"
It would be great if you could add some performance stats for boringtun. I would be also interested in comparison with the kernel-space implementation and wireguard-go.

[2019-09-19 23:26] vkrasnov commented on #102
I would love to see benchmarks myself :)

[2019-09-27 22:05] joeblew99 commented on #76
@vkrasnov Can you elaborate ?

[2019-10-18 22:48] vi opened #105 "Project maintainership status."
Is it maintained? Is it recommended for real usage or only for testing?

Is the review still going on, abandoned or complete? What is the result?

[2019-10-19 08:44] vkrasnov commented on #105
The project is very much maintained, it is used exclusively by our deployment of the Warp app both server side, as well as on [Android](https://play.google.com/store/apps/details?id=com.cloudflare.onedotonedotonedotone&hl=en_US) and [iOS](https://apps.apple.com/us/app/1-1-1-1-faster-internet/id1423538627).

While we just launched, it is probably already the largest WireGuard deployment in the worl

[2019-10-19 21:09] vi commented on #105
Then maybe it's time for BoringTun v1.0.0?

[2019-10-19 23:34] vkrasnov commented on #105
Haha, that's a big commitment in the Rust world

[2019-10-20 00:05] vi commented on #105
It's a commitment to bump version to 2.0.0 in case of incompatible changes.

[2019-10-28 12:20] Pyons opened #107 "Wireguard connection stops working after adding 0.0.0.0/0 inside Docker container"
I found this weird bug where when I add 0.0.0.0/0 to my allowedIPs on one of my peers the wireguard connection on the peer drops and is unrecoverable as far as I know. Bringing the wg interface down and up again does't work, I have to reboot the whole device.

My setup:
I have borintun running inside a Docker container on a balena device and start it with:
`WG_QUICK_USERSPACE_IMPLEMENTATION=boring

[2019-11-05 04:26] nevelis commented on #107
I did this exact same thing today actually...  but it on a VM, using vanilla wireguard (ie: without boringtun).

So I think it's bad wireguard configuration, not a boringtun issue.

[2019-11-05 09:01] Ricordel commented on #105
So how should we take the warning note in the README?

From previous comments, I understand we should have a look at issues tagged with `security-review` and decide for ourselves if we'll live with it, and otherwise we can consider it ready to use (knowing the other few bugs in the issues). Do you agree with that view?

[2019-11-07 13:46] vkrasnov commented on #105
@Lekensteyn can you address this question?

[2019-11-08 07:08] Lekensteyn commented on #105
Yes, I think that the note can be removed. The worst known issue at the moment is probably #53, but it does not cause security issues on itself.

[2019-11-13 14:59] zTrix opened #108 "compile issue"
run `cargo install boringtun` produce the following output:

[code]

Any hint on what's going on?

[2019-11-13 15:29] vkrasnov commented on #108
Which platform is this?

Can you try replacing this with: `(IFF_TUN | IFF_NO_PI | IFF_MULTI_QUEUE) as _,` ?

[2019-11-13 15:30] zTrix commented on #108
[code]

[2019-11-13 16:22] vkrasnov commented on #108
And have you tried the suggested fix?

[2019-11-13 16:29] zTrix commented on #108
Just cloned this repo and build, everything works now.

But the error happens when running `cargo install boringtun`.

No idea what happened.

[2019-11-13 16:30] vkrasnov commented on #108
It appears that your kernel uses a slightly different version of libc

[2019-11-22 17:10] tuxflo commented on #108
I had the same issue on a QNAP NAS device (custom kernel 4.14.24-qnap) and the fix above solved it for me.

[2019-11-22 21:11] tuxflo opened #110 "Failed to start in LXC Container"
I'm trying to setup boringtun inside a LXC Container on my NAS System.If I try to create the tunnel in Foreground mode using
[code]
The process fails with;
[code]
I already tried to set some verbose messages but there seems to be no debug output in this stage of the initialization process. Since the owner of the `/proc` filesystem inside the container is listed as `root:root` this should be a priv

[2019-11-22 22:24] tuxflo commented on #110
Ok, I could solve this on my own with the help of the great [Arch Wiki](https://wiki.archlinux.org/index.php/OpenVPN_client_in_Linux_Containers) where they describe how to setup a LXC Container for OpenVPN. The key point is that one has to set
[code]
in the LXC config file for granting the network permission to the container. If someone wants to manage the device with the built in systemd service

[2019-11-22 22:24] #110 closed

[2019-11-23 10:23] hongkongkiwi opened #111 "Compile Error on OSX"
Hi Guys, working on MAC OSX 10.14.5 and trying to compile I get the following errors. I'm working on the master branch.

Any ideas?

Cargo version: cargo 1.39.0 (1c6ec66d5 2019-09-30)
Installed rust using rustup-init.

`[~/boringtun]: cargo build --bin boringtun --release --target "armv7-unknown-linux-gnueabihf"`

[code]

[2019-12-23 13:27] 3belut opened #114 "AtomicU64 for android"
Hello,

When cross-compiling for arm-linux-androideabi with the Android NDK 21 i get te folowing error:

According to the [Rust std documentation](https://doc.rust-lang.org/std/sync/atomic/#portability):

I think AtomicU64 is not available on arm-linux-androideabi.

[2019-12-23 17:52] vkrasnov commented on #114
@naga-cf do you know something about it?

[2019-12-23 17:54] vkrasnov commented on #111
Some of the dependencies do not support cross platform compilation. You can only compile for iOS and for Android if you have the Android SDK installed. To compile for Linux, you'd have to use Linux.

[2019-12-23 19:34] naga-cf commented on #114
Please use the target-triple `armv7a-linux-androideabi` for 32-bit and `aarch64-linux-android` for 64-bit since not all primitives are available on all instruction sets as you mentioned.

https://developer.android.com/ndk/guides/other_build_systems#overview

[2019-12-23 21:00] 3belut commented on #114
Thank you it worked, my mistake.

[2019-12-23 21:00] #114 closed

[2019-12-25 23:30] duper51 commented on #101
What Operating System and what version are you running?

[2020-01-07 20:53] mpolden commented on #105
Any plans to release/tag a new version soon (not necessarily a 1.0.0), with the latest commits?

[2020-01-11 22:35] creativetags commented on #71
Is IPv6 still required?

[2020-01-15 22:38] naftulikay commented on #108
When I attempt to `cargo install boringtun` within an Ubuntu 18.04 Bionic Docker container, I am running into this. On a previous version of Rust in around April 2019, the exact same environment built successfully, so I'm not sure what the issue is.

This sounds like it would require a source code fix, as was described above. I'm on x86_64, using the aforementioned Ubuntu Bionic Docker image.

[2020-01-23 19:11] ossie-git commented on #108
Can confirm I ran into the same issue and that the suggested fix worked.  Steps to reproduce:

[code]

[2020-01-27 05:54] keith24 commented on #97
I got this using `cargo install`.  It _did_ work for me to compile from source:

[code]

There is a duplicate issue #108 with [a workaround](https://github.com/cloudflare/boringtun/issues/108#issuecomment-553453465):

[2020-01-27 16:09] keith24 opened #117 "Failed to initialize tunnel: IOCtl("Operation not permitted")"
I got this error when running boringtun on a shared host.  I didn't think I would need any permissions.

[code]

[2020-01-28 06:58] vkrasnov commented on #117
You need to run as sudo, or alternatively on Linux give boringtun the CAP_NET_ADMIN as outlined in the README.

[2020-01-29 00:36] keith24 commented on #117
Ok

[2020-01-29 00:36] #117 closed

[2020-02-06 16:07] compuwar commented on #108
Same issue on CentOS 7.7
Linux host 3.10.0-1062.9.1.el7.x86_64 #1 SMP Fri Dec 6 15:49:49 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
CentOS Linux release 7.7.1908 (Core)

Suggested fix worked

[2020-02-06 16:11] compuwar commented on #90
encountered today after nstallng the crate.

strace shows timerfd_create(CLOCK_BOOTTIME, TFD_NONBLOCK) = -1 EINVAL (Invalid argument)

[2020-02-17 03:33] BlameOmar commented on #29
It looks like https://github.com/cloudflare/boringtun/pull/35 has stalled for nearly a year and has merge conflicts now. I'm interested in getting this working, but I don't know what's blocking it.

[2020-02-17 03:39] vkrasnov commented on #29
The only thing blocking it is lack of CI server for FreeBSD

[2020-02-17 04:54] BlameOmar commented on #29
From what I can tell, that's because:
  * The integration tests depend on Docker. Specifically, two methods on Peer execute `docker`.
  * Docker is not supported on FreeBSD. It's not clear if it ever will be.

Perhaps a path forward would be to assume Docker will never be supported on FreeBSD and factor out the Docker dependency from Peer, using jails on FreeBSD and Docker everywhere else.

If thi

[2020-02-23 07:33] vkrasnov commented on #29
@BlameOmar it would be awesome to have a jails based test suite

[2020-02-23 18:35] xsoheilalizadeh commented on #111
Same issue on Ubuntu 18.04

[code]

[2020-02-24 15:50] wmiller848 commented on #101
I'm attempting to run BoringTun in a docker container and run into this even with the `--privileged` flag providing the container with full privileged access and running as the root user in the container.

[code]

vs

[code]

[code]

Compiled from `700f20bf2a060953911c998c02dea821a43c09ca`
 on Alpine

[code]

Any suggestions would be helpful thanks!

[2020-02-27 13:21] anjmao commented on #80
On iOS you will definitely need to use  NetworkExtensions and NEPacketTunnelProvider as on Android VpnService but UDP connection could be managed from Rust side since you can pass created file descriptor to Rust.

@vkrasnov Could you also explain a bit about wireguard_tick fn and why it's needed. To me it looks that this should be internal implementation detail.

[2020-02-28 06:43] vkrasnov commented on #80
Hi @anjmao
You could definitely manage the UDP connection from Rust, but iOS provides much more powerful (and faster) UDP connection API in the form of [createUDPSession](https://developer.apple.com/documentation/networkextension/neprovider/1406004-createudpsession).

It has multiple benefits over managing your own BSD socket (which Rust provides only minimal abstraction over), including better ro

[2020-02-29 09:35] balboah commented on #80
is there a code example of this iOS idiomatic loop flow? do you also need to listen for network changes to re-handshake on roaming?

[2020-03-27 18:06] poupas opened #119 "Official boringtun crate seems out-of-date"
Hi!

(First of all, thank you for creating this project.)

The boringtun crate has not been updated since March 22, 2019. In the meanwhile, many fixes and enhancements were pushed onto this repo. Is building from source the currently recommended way to use boringtun?

João

[2020-03-28 09:17] sullyfischer commented on #46
This would be awesome. UDP gets blocked in many countries easily.
I don't understand why no one has done this already. I'm not a Rust or Go programmer, if I were, I would have done it myself.

[2020-03-30 14:39] kornelski commented on #119
pinging @ashleygwilliams who has publishing rights to that crate.

[2020-04-03 06:53] vkrasnov commented on #119
Yes, the base code is stable for now, we should definitely make a release.

[2020-04-05 00:42] #98 closed

[2020-04-05 01:27] #105 closed

[2020-04-05 06:55] #97 closed

[2020-04-05 06:55] vkrasnov commented on #97
Fixed in 0.3.0 release

[2020-04-05 06:56] #108 closed

[2020-04-05 06:57] vkrasnov commented on #108
Fixed in release 0.3.0

[2020-04-05 06:57] #119 closed

[2020-04-05 06:57] vkrasnov commented on #119
Made a 0.3.0 release

[2020-04-05 07:16] vkrasnov commented on #80
First we define a few buffers to maximize performance using batch send/recv:

[code]
The encapsulate method looks like this, it is called by `packetFlow.readPacketObjects` in an infinite loop, unless there is a connection error.

[code]
The decapsulate method (which we pass in `setReadHandler`)  is this:
[code]

For roaming, you usually get a UDP error, on which we immediately reconnect.
When you

[2020-04-06 18:11] poupas opened #125 "BoringTun stuck on infinite loop if tun interface is deleted"
Hi,

If a tun interface is deleted while BoringTun is using it, the executable will use 100% CPU. This may happen, for example, if `wg-quick <interface> down` is invoked.

**How to reproduce the issue**
Using the following `Dockerfile`:
[code]

Run the following commands:
[code]
You should see the BoringTun executable using 100% CPU.

**Tentative solution**
We propose a solution in #124, where the

[2020-04-07 15:36] AmirAliSobhGol commented on #102
Here is my own benchmark result:
two g10 servers with 10G interface.
Peer A Server:
Ubuntu 16.04
CPU: Intel(R) Xeon(R) Gold 6238 CPU @ 2.10GHz
RAM: 512 GB
wg0.conf
[code]

Peer B Server:
Ubuntu 16.04
CPU: Intel(R) Xeon(R) Gold 6230 CPU @ 2.10GHz
RAM: 384 GB
wg0.conf
[code]
BoringTun:
iperf -c 10.0.0.1 -t 300 -P 8
------------------------------------------------------------
Client connecting to 10.

[2020-04-09 09:59] #125 closed

[2020-04-09 12:41] vkrasnov commented on #102
@AmirAliSobhGol thank you very much, in your benchmark both peers run WireGuard and then both peers run BoringTun?

[2020-04-09 12:45] AmirAliSobhGol commented on #102
@vkrasnov
Peer B (10.0.0.1) is wireguard in both scenario.
only Peer A changes to boringtun implementation

[2020-05-26 03:42] LamaRaz commented on #68
This would be a nice addition, there is even a rust RS crate to do this: https://github.com/darrenldl/reed-solomon-erasure

[2020-06-02 02:19] sunny-g opened #131 "[request] exposing some `::device` internals"
I'm porting a Golang project to Rust called [yggdrasil](https://yggdrasil-network.github.io) - tl;dr, its a P2P meshnet software built on Wireguard in which your static IPv6 is derived from the hash of a public ed25519 key.

The original is built on wireguard-go and seems to rely on a slightly higher-level "device" [API](https://github.com/WireGuard/wireguard-go/blob/master/tun/tun.go) that simpli

[2020-06-03 07:10] rusty-eagle opened #132 "fwmark not applying when using AllowedIPs = 0.0.0.0/0"
So when I run wg-quick, everything looks normal:

$ sudo WG_QUICK_USERSPACE_IMPLEMENTATION=boringtun WG_SUDO=1 wg-quick up ./wg0.conf
[#] boringtun wg0
BoringTun started successfully
[#] wg setconf wg0 /dev/fd/63
[#] ip -4 address add 10.0.0.3/32 dev wg0
[#] ip link set mtu 1420 up dev wg0
[#] wg set wg0 fwmark 51820
[#] ip -4 route add 0.0.0.0/0 dev wg0 table 51820
[#] ip -4 rule add not fwmark 5

[2020-06-19 08:17] antnks commented on #92
It took a while for me to troubleshoot the same issue until I found this closed topic. I would agree that a lot of people are trying to run `sudo boringtun` and get the same error. So, at least mention the error `Unable to modify interface: Unknown error -98` in README, so it becomes searchable, or print more verbose error saying "if you run with sudo please check README for a solution"

[2020-06-23 09:11] balboah commented on #80
Thanks a lot for the code example. I've been playing a bit with this and got a successful tunnel up.

However I noticed some issues with that `NWUDPSession.writeMultipleDatagrams`.
First thing was that I also ended up with a timer since the observe KVO which docs recommend [seems broken](https://github.com/apple/swift/pull/20757/).

Then to conform with "Callers should wait until the completionHan

[2020-07-06 13:24] jakalkhalili opened #136 "Make mod device public"
Hello,

I want to use **boringtun** in my project, but I cannot create a device - the `device` mod is private and cannot be used when **boringtun** is included as library.

Could you make it public?

Cheers.

[2020-07-06 13:28] vkrasnov commented on #136
That is definitely possible. Are you able to open a PR?

[2020-07-06 13:30] jakalkhalili commented on #136
Yes, thank you.

[2020-07-06 21:11] #136 closed

[2020-08-03 14:33] timotheedeaton opened #138 "Error in compiling for android"
```export TARGET_TRIPLE=armv7-linux-androideabi```
```cargo build --bin boringtun --release --target $TARGET_TRIPLE --verbose```
results in errorrs

[code]

[2020-08-09 13:47] unicomp21 opened #139 "webassembly platform"
Wow, amazing stuff.  Why can't we create a webassembly based virtual nic which runs in the browser?  Route the packets over websocket.  Doesn't Rust compile to webassembly?

My intention in submitting this issue is to figure out if I'm crazy or not.

[2020-08-09 13:49] unicomp21 commented on #139
Eventually, it should also be possible to route packets over the QUIC RTCDataChannel getting added to Chrome.

[2020-08-09 13:56] unicomp21 commented on #139
This would also create the need for a webassembly implementation of the HTTP2, HTTP3(QUIC), and websocket protocols.  Initially, I think websocket protocol (over wireguard) should be pretty quick/simple.  The others could follow later.

[2020-08-11 13:25] vkrasnov commented on #138
Oh, that must have broke in the last commit. Can you compile the commit before it?

[2020-08-11 13:29] vkrasnov commented on #139
That doesn't sound crazy at all. There is also a Rust implementation of QUIC https://github.com/cloudflare/quiche
So yeah, that is definitely doable, with a simple NAT.

[2020-08-12 04:25] Menci commented on #101
The code in https://github.com/cloudflare/boringtun/blob/34cc88c1d6599cc88cf0c336693ab51a00e962b1/src/device/drop_privileges.rs ***assumes*** user runs `boringtun` with `sudo` under a non-root user. It gets the original username and uid/gid and then `setuid`/`getgid` to it, finally it checks it can't set them back to root. So invoke `boringtun` in a root login shell will result in this error.

I d

[2020-08-12 08:15] saurik commented on #138
The most recent commit that works is f8068c584c0e4f01961463d745d4b5b1b5e07edb. The Android build was broken already by 45d2c099c5a51ef7ac23b5274049fae11055d207, as that required a commensurate src/jni.rs update. Otherwise, yes: most of the breakage was from f82428781023bf6a4b9d7be7627d09f2384c891a. I started working on a patch to give you to fix these various device-oriented APIs to work on Androi

[2020-08-12 23:36] unicomp21 commented on #139
Yes!  Let's do it!  Does this need to be approved as a feature or something?  Once we have a webassembly build, I'm thinking another repo could be dedicated to the layers on top of wasm-boringtun-client, such as http-vpn, ws-vpn, etc.  In addition there would be the ws-wireguard-vpn proxy (which forwards wireguard packets) for the wasm-boringtun-client to connect with.

[2020-08-12 23:46] unicomp21 commented on #139
If we get this thing working, and it catches on, it will beg a very large question.  Browsers might be forced to introduce a vpn_wireguard_url w/ a vpn client embedded in the browser.  Exciting times.

[2020-08-12 23:55] unicomp21 commented on #139
Wow, the future is starting to look a LOT simpler from a security perspective.

[2020-08-12 23:56] unicomp21 commented on #139
I wonder if we could get Mozilla to jump on board early.

[2020-08-13 01:55] vkrasnov commented on #139
Ha, your excitement is contagious! Yeah it doesn’t seem super complicated, definitely doable. Obviously if you want to send the packets over ws you need a server that can accept them, but this is almost trivial.

[2020-08-13 10:24] unicomp21 commented on #139
Lol, to quote someone, "You wanna make a dent in the planet?"

[2020-08-13 18:08] perwigren commented on #71
Yes, apparently. I get the same error from strace in Docker on latest git master.

[2020-10-09 18:39] def324 commented on #132
I have the exact same problem running with the same options in a alpine based docker container. Any help would be appreciated.

[2020-10-30 15:55] flyfei-cmd opened #146 "using boringtun as windows WireGuard Client"
hi, could I use boringtun as windows WireGuard Client?

[2020-11-23 16:46] marcbrevoort-cyberhive opened #149 "Setting private_key={} returns errno=0 but results in NoCurrentSession"
After setting up a tunnel, setting the interface private key with `private_key={}` (with a valid curve25519 hex key string in place of the brackets) appears to be allowed and returns with `errno=0`.
By looking at the code this should result in a handshake with the peer, presumably to re-establish the connection with the new key pair. However when actually performing this, a "Decapsulate error NoCu

[2020-12-03 04:59] saurik commented on #138
@vkrasnov ?

[2021-01-03 00:32] mikma commented on #101
@wmiller848

Apparently `getlogin` on Alpine returns `root` when you use sudo, which means boringtun can't drop privileges.

Maybe SUDO_UID and SUDO_GID can be used if they are available?

[2021-01-03 16:35] mikma commented on #40
Any progress on this bug?

This bug seems to make boringtun unresponsive.
It isn't possible to terminate the boringtun process with SIGTERM.
The panic also isn't visible in the log.
And the wg tool hangs.

How is user of boringtun supposed to see that it's this panic which causes boringtun to be unresponsive without doing unnecessary debugging to find out that it's a known bug?

I was considering

[2021-01-07 16:56] kim0 commented on #40
@mikma Thanks for working on this, I just hit this issue too. Would you please send a PR when done

[2021-01-09 19:16] mikma opened #154 "Stdout and stderr should be redirected to the log file when running in the background"
Stdout and stderr should be redirected to the log file when running in the background. Otherwise error messages written by for example eprintln! or panic! will be lost.

[2021-01-12 01:08] mikma opened #156 "Attempt to shift right with overflow in AllowedIps iterator"
When you iterate over AllowedIps containing 10.111.0.1/32, 10.111.0.2/32, 10.111.0.3/32 it panics:

thread '<unnamed>' panicked at 'attempt to shift right with overflow', /rustc/e1884a8e3c3e813aada8254edfa120e85bf5ffca/library/core/src/ops/bit.rs:603:1

[2021-01-12 04:16] RammusXu commented on #132
+1

And it works when I use https://github.com/masipcat/wireguard-go-docker on same machine.

[2021-01-12 19:06] mikma commented on #132
The wg tool can't display the fwmark since fwmark is written as part of each peer, when fwmark should be written before the peers. This is a bug in boringtun.
https://github.com/cloudflare/boringtun/blob/0fb1891146d34dc516f9cb45c4f830e63f11ec10/src/device/api.rs#L143

But this particular bug shouldn't change how fwmark are used on WireGuard packets in boringtun.

[2021-01-15 20:07] richiksc opened #161 "Boringtun fails to start on Apple Silicon"
`boringtun` compiles succesfully with `cargo install --locked --path .` on `master` with Rust v1.49 on Apple Silicon.

However, when running with `boringtun utun`, I get the following message:

[code]

---

Related: Homebrew/homebrew-core#68301

[2021-01-15 22:02] vkrasnov commented on #161
Did you run with `sudo`?

[2021-01-15 22:05] vkrasnov commented on #161
If so, can you try `sudo boringtun -f utun` and tell me if it prints something?

[2021-01-16 00:18] richiksc commented on #161
No, I did not run with `sudo`. Running `sudo boringtun utun` works perfectly.

[2021-01-16 00:30] vkrasnov commented on #161
It would print if there were errors :)

[2021-01-16 00:30] #161 closed

[2021-01-23 21:31] TheLinuxGuy commented on #46
+1 for adding support for traffic obfuscation.

I use tunsafe with obfuscation but that project seems to have been abandoned. BoringTun looks promising and a possible better/faster implementation to replace it but unfortunately BoringTun doesn't evade deep packet inspection at this time. It would be great to add this obfuscation layer.

[2021-01-27 23:08] #156 closed

[2021-02-03 11:31] soarway commented on #75
[root@VM-16-13-centos release]#  ./boringtun -f wg0
Feb 03 19:29:20.971 ERRO Poll error Interrupted system call
Feb 03 19:29:20.971 ERRO Poll error Interrupted system call
Feb 03 19:29:20.971 ERRO Poll error Interrupted system call
Feb 03 19:29:20.971 ERRO Poll error Interrupted system call
Feb 03 19:29:20.971 ERRO Poll error Interrupted system call
Feb 03 19:29:20.971 ERRO Poll error Interrupted

[2021-02-08 02:54] stevekerrison opened #163 "Failing to set private key before peers makes socket unresponsive"
If `boringtun` is given peer settings without the private key being set, it will panic and the socket will end session without providing a response. Subsequent requests to the socket yield no response.

To reproduce:

1. Run a `boringtun`
[code]
2. Check socket works:
[code]
3. Issue a `set` without the private key.
[code]
4. Observe no response from `set`, and observe error:
[code]
5. Subsequent

[2021-02-10 19:54] KOLANICH opened #164 "Create an Android app and publish it into F-Droid"

[2021-02-28 04:00] bbockelm opened #168 "Add scaffolding needed to support user namespaces"
Modern versions of Linux provide the ability for unprivileged users to create their own namespace - and their own network namespace.

Inside the namespace, we have the ability to create TUN devices and pass the corresponding file descriptor to an external process.  If `boringtun` could utilize an inherited file descriptor (in a manner similar to `wireguard-go`) as the FD corresponding to the TUN d

[2021-02-28 18:11] vkrasnov commented on #168
Thanks, yes indeed that is a useful functionality, not only for Linux

[2021-02-28 23:23] bbockelm commented on #168
@vkrasnov - I had been generally cleaning up the Mac OS X build failures via adding conditional compiles for Linux to the relevant code.  If you think this could function on Macs, I can undo that part.

If you want a motivating use case - I work with a [batch system](https://github.com/htcondor/htcondor) that, in addition to the traditional "cluster" setting, is often deployed at remote locations

[2021-03-01 18:20] vkrasnov commented on #168
It can function on macOS the same way wireguard-go works within the network-extension without super user privileges. I think someone could find that useful.

[2021-03-02 10:10] majek commented on #168
Quick plug: slirpnetstack might be as good if not better than slirp4netns :) https://github.com/majek/slirpnetstack/

[2021-03-05 11:22] marcbrevoort-cyberhive opened #170 "file descriptor leak"
Currently boringtun leaks file descriptors.
[code]
This test will fail.
Comments:
- `count_file_descriptors_currently_in_use()` would count only file descriptors in use by the current process.
- The implementation for the `count_file_descriptors_currently_in_use()` method is platform-specific but a naive implementation for Linux would be

[code]

[2021-03-23 14:45] twittner commented on #101
Musl's [`getlogin`](https://git.musl-libc.org/cgit/musl/tree/src/unistd/getlogin.c?h=v1.2.2) returns `getenv("LOGNAME")`. Dropping privileges should work if `LOGNAME` is set appropriately, e.g.

[code]

[2021-03-30 07:40] marcbrevoort-cyberhive commented on #170
Having investigated this a bit further the main leak appears to be in epoll/kqueue where file descriptors in use by the queue aren't freed when the queue is dropped.

[2021-04-11 15:35] WilliamsGest opened #172 "UnsatisfiedLinkError using JNI on Windows ?"
Hello,

I'm trying to call the function x25519_secret_key() from boringtun.dll to generate a secret key in pure java .

I'm using the following code to perform the call :

![image](https://user-images.githubusercontent.com/6077557/114310689-e67ee500-9aeb-11eb-8b5d-64e8d937b5cd.png)

![image](https://user-images.githubusercontent.com/6077557/114310698-f1d21080-9aeb-11eb-9526-e5d858614d47.png)

Howe

[2021-04-28 18:52] Charles-Schleich commented on #9
Hello,

I cant seem to translate the ping example at https://github.com/cloudflare/boringtun/blob/v0.3.0/src/noise/tests/mod.rs#L440
into a real world example, using actual wireguard client keys and server config.
I have likely mis-configured something, as I am getting a handshake response and sending of a keep alive message, but no response from the wireguard server I am trying to ping (although

[2021-04-30 10:57] marcbrevoort-cyberhive opened #173 "DEBG HANDSHAKE(REKEY_TIMEOUT) running tests"
Running test device::integration_tests::tests::test_wg_start_ipv4 never completes (same with several others but this one is representative to illustrate the issue), logging multiple
```DEBG HANDSHAKE(REKEY_TIMEOUT)```
messages - what might be causing this?

[2021-04-30 14:51] vkrasnov commented on #173
Hi, do you have docker running? Those tests require docker and sudo.

[2021-04-30 14:51] vkrasnov commented on #172
@naga-cf can you help please?

[2021-05-04 10:24] marcbrevoort-cyberhive commented on #173
Yes I do - after updating the box images things do seem to pass now though the REKEY_TIMEOUT still occurs.
[code]
Could this be a legitimate error in a docker context?

[2021-05-04 11:36] marcbrevoort-cyberhive commented on #173
Ah, this seems to be related
[code]
On Linux I believe the key there is setting reuse to true, for instance
[code]

[2021-05-04 11:45] marcbrevoort-cyberhive commented on #173
Ah, this seems to be due to stale boxes being left behind.
[code]
prior to a test run solves that.

[2021-05-04 11:45] #173 closed

[2021-05-10 20:58] ignatk opened #174 "BoringTun should be Linux network namespace aware"
Setup scenario:

1. Create two network namespaces
2. In each namespace create an interface with `boringtun [-f] <some-iface>`

Now I can use the `wg(8)` tool in either namespace (and probably from outside as well) to configure any interface in any network namespace. Moreover, if I use the same interface name in both namespaces, the `wg(8)` tool will show only 1 interface and setting configuration

[2021-06-07 03:04] iworkcloud opened #175 "ios filter app"
How can iOS filter some apps from VPN and some apps from system network? Just like Android's AddDisallowedApplication and AddAllowedApplication! Thank you very much!

[2021-06-08 13:52] aakashjonwal89 opened #176 "ERRO Poll error Interrupted system call (Unable to access interface: Protocol not supported)"
Hi Team,

I am trying to run wireguard userspace using "boringtun". I have install it properly and set the Path as suggest at the time of installation of boringtun.

But when i try to start wg0 instance using two different way, I got below errors, Can anyone please help to resolve this.

**[root@ip-10-9-20-39 release]# ./boringtun -f wg2
Jun 08 13:37:23.871 ERRO Poll error Interrupted system call

[2021-06-09 04:56] aakashjonwal89 commented on #176
Hi All,

Can anyone help us in this..

[2021-06-09 23:32] mikma commented on #176
Have you tried running it with WG_LOG_LEVEL or --verbosity set to trace? Maybe there are some useful output which aren't errors (the default level).

[2021-06-10 05:49] aakashjonwal89 commented on #176
Hi @mikma ,
Yes i have tried it, and i got below error:

Command which i Run
[root@ip-10-9-20-39 release]#  **./boringtun wg1 --log  --threads --verbosity**
BoringTun failed to start

Error in file is:
[root@ip-10-9-20-39 centos]# tail -f /tmp/boringtun.out
**Jun 10 05:45:01.502 ERRO Failed to initialize tunnel: IOCtl("Invalid argument")**

[2021-06-10 06:01] aakashjonwal89 opened #177 "ERRO Failed to initialize tunnel: IOCtl("Invalid argument")"
Hi Team,
I am trying to start the wiregaurd interface using boringtun implementation, So i am run below command.

[root@ip-10-9-20-39 release]#  ./boringtun wg1 --log  --threads --verbosity
BoringTun failed to start

So i recived this error on screen "BoringTun failed to start", and when i checked in log file called "/tmp/boringtun.out". Then its showing below error.

**tail: /tmp/boringtun.out: f

[2021-06-11 04:50] aakashjonwal89 commented on #177
Can anyone will update on this...

[2021-06-14 04:59] aakashjonwal89 commented on #176
Hi Team,

Any suggestion for fix this issue.

[2021-06-14 04:59] aakashjonwal89 commented on #177
Hi Team,
Any suggestions for fix this issue

[2021-06-21 00:16] tamoanxx opened #179 "Support Windows On ARM"
Support for Windows on ARM. Example device would be Surface Pro X.

[2021-06-22 14:42] alisafari1998 opened #180 "Is boringtun production ready?"
As it's mentioned in [Cloudflare's blog post](https://blog.cloudflare.com/boringtun-userspace-wireguard-rust/) back in 2019 `BoringTun is currently under internal security review, and it is probably not fully ready to be used in mission critical tasks.` but there isn't any new information on this topic.

Also I'm concerned about following things:
- Does any enterprise service use this project unde

[2021-07-09 23:04] irctrakz commented on #177
Looks like your subnet is wrong on the Interface, I assume you're using wg-quick which IMHO horribly abstracts away what's happening.

I'd guess you should set the interface address to `10.0.12.89/24`, or even better bring it up manually:

`ip addr add 10.0.12.89/24 dev wg0`

[2021-08-04 01:26] qingmo commented on #179
as far as i see, the source code not support windows yet

[2021-09-03 19:38] DavidVentura opened #187 "IP Roaming not working when using boringtun as a client"
Hi!
I think IP roaming is not working when using boringtun as a client.

My setup:

Client: 2 public IP
Server: 1 public IP

Working: wireguard-go:

When `client` brings down its primary interface, IP packets (with new source) arrive at `server` and the `wg` interface on `server` sees the data. The tunnel works.

Not working: boringtun:

After bringing down one of the interfaces on the client, the

[2021-09-03 20:32] DavidVentura commented on #187
And now in unified logs:

wireguard-go, working
[code]

boringtun, broken
[code]

the _only_ difference between these two is the client. same device, kernel, server and network configuration

[2021-09-16 20:03] cd-rum opened #188 "Tunnelling between localhost and docker containers"
Is there a way to configure BoringTun to tunnel between localhost ports and docker containers? Say if I wanted to expose a service on 443 from a docker container running on port 4334 through BoringTun? It seems close, and I've managed this config across different boxes but I'd love to implement something quick, safe, and scriptable. Thanks

[2021-09-23 17:25] Manouchehri opened #189 "PF_RING?"
Any thoughts on if something like PF_RING would help improve performance on Linux hosts?

https://www.ntop.org/guides/pf_ring/vanilla.html

(This is a follow-up from a [comment I saw on Hacker News](https://news.ycombinator.com/item?id=19501713) while doing some research on WireGuard in userspace.)

[2021-09-23 19:01] Manouchehri commented on #189
Another option might be AF_XDP, which actually seems more reasonable, since it's often compiled in by default.

https://01.org/linuxgraphics/gfx-docs/drm/networking/af_xdp.html

[2021-10-06 20:21] #168 closed

[2021-10-09 03:32] #189 closed

[2021-10-09 03:35] Bren2010 commented on #180
boringtun is a building block of [WARP client](https://1.1.1.1/) and our [Cloudflare for Teams](https://www.cloudflare.com/teams/) product. Any limitations are documented in the project's [license](https://github.com/cloudflare/boringtun/blob/master/LICENSE.md) file.

[2021-10-09 03:35] #180 closed

[2021-10-09 03:40] Bren2010 commented on #111
The platform would need to be "armv7-unknown-linux-gnueabihf" specifically if that's what you want to compile for. We have aarch64 and armv7 builds in CI and those work as expected.

[2021-10-09 03:40] #111 closed

[2021-10-09 03:41] Bren2010 commented on #164
I believe any external app would need to be part of the WARP client, and we already have an app in the Play Store.

[2021-10-09 03:41] #164 closed

[2021-10-09 03:41] #82 closed

[2021-10-09 20:57] Noah-Kennedy commented on #91
Closing due to inactivity.

[2021-10-09 20:57] #91 closed

[2021-10-10 20:07] KOLANICH commented on #164
I don't need a warp client. I need an app to connect my own wireguard server on my router. An app that can be run on my extremily old phone (api level 19) with extremily old kernel (one without wireguard).

[2021-10-12 11:32] fscarmen opened #197 "Boringtun always in the process ."
I use ``` wg-quick down wgcf ``` or  ```WG_QUICK_USERSPACE_IMPLEMENTATION=boringtun WG_SUDO=1 wg-quick down wgcf``` to close wireguard.

Then i use ``` ps -axj | grep boringtun ```. It is still running. I have to use ```kill $(pgrep -f boringtun)```.

Could I use a command to close it automatically?

![image](https://user-images.githubusercontent.com/62703343/136948094-5b64f262-0d55-4f75-ab28-ca9d

[2021-11-03 09:52] brlin-tw commented on #197
This is a known bug, refer:

https://github.com/cloudflare/boringtun/issues/125

[2021-11-03 12:20] fscarmen commented on #197
Is there  a "boringtun.service" file ,which let BoringTUN runs automatically after reboot?

And how do you turn it off . I ran ```wg-quick down wgcf; kill $(pgrep -f boringtun)```.
If i don't . It will use 100% CPU.

[2021-11-12 18:29] dtaht opened #201 "read blocked or write blocked?"
I am curious if you have any data on where and when this implementation gets blocked on reads (packets accumulating in the tun device), or writes (packets accumulating inside the process)

[2021-11-23 11:22] learnerBing opened #204 "feature: Support for Mac Catalyst"
I am using the following command to build the library for Mac catalysts.

`cargo +nightly build -Z build-std --lib --target x86_64-apple-ios-macabi`

but when I try to build the app for MacBook (mac catalyst) using the resulting static library by the above code I get the following error.

`Error: /boringtun/target/x86_64-apple-ios-macabi/release/libboringtun.a(chacha-x86_64-macosx.o), building for

[2021-12-16 21:00] autonomic opened #205 "Not dropping root privileges running on macOS 11.6.1"
Good afternoon,

I've just been testing `boringtun` on macOS but noticed that when I run using the following command, that it does not drop root privileges.

sudo WG_QUICK_USERSPACE_IMPLEMENTATION=boringtun WG_SUDO=1 wg-quick down ~/wireguard/example.conf

The `boringtun` process is running as root.

Cheers,
-Chris

[2021-12-20 09:51] aramperes opened #207 "New release?"
There have been [lots of changes](https://github.com/cloudflare/boringtun/compare/v0.3.0...master) since the last release in April 2020. A new release published to `crates.io` would be appreciated for [other projects](https://github.com/aramperes/onetun) that depend on `boringtun` as a library (in order for them to be published as well).

[2021-12-21 21:11] Noah-Kennedy commented on #207
I'm actually working on this right now, and am hoping to get this out in the next few days.

[2022-01-06 06:56] zaid3tech opened #208 "Tunnel is receiving data but not sending."
I have started a tunnel by this command
`boringtun wg0 --disable-drop-privileges WG_SUDO=1`
After this I used wireguard tool(wg0) to set configuration tunnel. Configuration file works perfect with WireGuard kernel module but failed to send any packets, though its receiving packets.
Moreover where I can see logs about handshakes like we see in case of WireGuard kernel module.?
I am running it on Ub

[2022-01-22 19:42] Mohsen7s commented on #139
I guess this will be the first VPN client over wasm since no other VPN protocol implemented to wasm. Is there any hope or its forgotten ?

[2022-01-24 00:35] Noah-Kennedy commented on #139
This issue was largely forgotten, but if there is interest, this can be pursued. I do not have the bandwidth to pursue this sadly, but contributions are welcome. If someone wants to look into what would be required to make this work, that would be a good first step here.

[2022-01-24 01:16] unicomp21 commented on #139
I think the CheerpX guys have something working internally over RTCDatachannel.  Wouldn't this effort be best served by webtransport?  Does cloudflare support webtransport yet?  I think webtransport just went GA in chrome recently?

[2022-01-25 09:51] #208 closed

[2022-02-03 07:00] zaid3tech opened #209 "Update Peer"
Should we expect update peer in future release?

[2022-02-04 00:19] Noah-Kennedy commented on #209
I'm putting out a release soon. If it isn't in master, it won't be in that release. If you want to see something in boringtun, PRs are welcome.

[2022-02-04 00:20] Noah-Kennedy commented on #197
@fscarmen are you using the boringtun from the master branch?

[2022-02-04 01:54] fscarmen commented on #197
@Noah-Kennedy i installed it using cargo

[2022-02-06 23:03] Noah-Kennedy commented on #197
If you just called `cargo install boringtun`, then you are using a version which is quite old. Can you please try this with the latest version from the master branch?

[2022-02-06 23:04] Noah-Kennedy commented on #197
For the record, a new release should be coming out soon.

[2022-02-10 22:17] luv2dnce33 commented on #207
any update?

[2022-02-11 09:29] saurik opened #210 "new_tunnel should support NULL preshared_key"
The API for new_tunnel was recently changed in a133f1df70e09052f3fabdcd50cba98d299b0e51 to support setting the preshared key from C. As None is a valid preshared key, one would expect NULL to set that, but instead the process crashes dereferencing the null pointer. You can pass an invalid string, which gets converted to None, which works for now but that's also weird as one would expect an invalid

[2022-02-11 12:03] wiresock commented on #210
I tend to agree. However, meanwhile it should not be an invalid string, it can be an empty string ("") instead of NULL.

[2022-02-11 12:14] saurik commented on #210
Right. I'm saying that, right now, passing any invalid string--including ""--is being converted to None and silently ignored--which I think is strange and incorrect behavior--while NULL is crashing the process (which also seems wrong). I'm saying that the behavior which would make sense is for NULL to map to None and all invalid strings to cause the function to fail and return NULL (instead of the

[2022-02-11 12:19] saurik opened #211 "android build is broken again due to recent changes"
In a133f1df70e09052f3fabdcd50cba98d299b0e51 a new argument was added to new_tunnel for the preshared_key, but the usage in src/jni.rs was not updated.

https://github.com/cloudflare/boringtun/blob/a133f1df70e09052f3fabdcd50cba98d299b0e51/src/jni.rs#L148-L155

[2022-02-12 18:01] petrkutalek opened #212 "Unused return value of `CString::from_raw` that must be used"
During compilation rust produces the following warning, which can be easily fixed:
[code]

[2022-02-12 20:09] Noah-Kennedy commented on #211
@saurik would you be willing to open a PR for this?

[2022-02-12 20:45] Noah-Kennedy commented on #210
I've opened up a PR to fix this. @saurik @wiresock could you take a look at it?

[2022-02-12 20:55] Noah-Kennedy commented on #211
Nevermind, I took care of it

[2022-02-12 20:58] Noah-Kennedy commented on #207
Sorry about that. A few things came up and I lacked the bandwidth at the time. This is awaiting the review of several PRs, which should be done next week. After that, I will publish. Currently the android build is broken which is blocking a new release.

[2022-02-12 22:07] #212 closed

[2022-02-12 22:49] Noah-Kennedy opened #217 "Move to Mio/Tokio"
There is no reason we should be rolling our own epoll and kqueue. Let's just migrate to tokio or mio.

[2022-02-12 22:50] #107 closed

[2022-02-12 22:52] Noah-Kennedy commented on #201
I don't know of any data on this.

[2022-02-12 22:52] #201 closed

[2022-02-12 22:53] Noah-Kennedy commented on #146
We do not currently support windows, but may do so in the future

[2022-02-12 22:53] #146 closed

[2022-02-12 22:55] #80 closed

[2022-02-13 09:44] wiresock commented on #210
Thanks! I have tested on Windows and I can confirm that it works as expected.

[2022-02-13 22:12] Noah-Kennedy commented on #211
@saurik it will not work until #214 is merged.

[2022-02-13 23:29] Noah-Kennedy commented on #154
I think a better approach here would be to not use either and to instead just fully embrace tracing and set a panic hook which logs the panic to tracing.

[2022-02-13 23:29] #154 closed

[2022-02-13 23:30] #77 closed

[2022-02-13 23:32] Noah-Kennedy commented on #204
@learnerBing you can always open a PR for this.

[2022-02-13 23:38] Noah-Kennedy commented on #179
Closing this as it is covered by #146

[2022-02-13 23:38] #179 closed

[2022-02-13 23:41] Noah-Kennedy commented on #177
@aakashjonwal89 I'm closing this as stale. If you are still having issues we can reopen it.

[2022-02-13 23:41] #177 closed

[2022-02-13 23:41] Noah-Kennedy commented on #172
I'm closing this as stale.

[2022-02-13 23:41] #172 closed

[2022-02-14 15:50] Noah-Kennedy commented on #205
Can you try with the latest version from the master branch?

[2022-02-14 15:59] #93 closed

[2022-02-14 16:01] #76 closed

[2022-02-14 16:01] #75 closed

[2022-02-14 16:32] #32 closed

[2022-02-14 16:37] Noah-Kennedy commented on #139
This would be interesting with webtransport. I don't have the bandwidth to do this right now, but I would welcome any PRs.

[2022-02-14 16:57] saurik commented on #211
@Noah-Kennedy For avoidance of any doubt, #214 is now merged, but the Android build still doesn't work (due to the private module import). In case it is useful to reference this directly: this is broken because of 75a548577d85c9761dfd6d1412606e6ff0fb9006, which removed the public export of the x25519 module and replaced it with direct exports of only x25519::X25519SecretKey and x25519::X25519 Publ

[2022-02-14 17:09] Noah-Kennedy commented on #211
@saurik looking again, I'm not sure what I was thinking when I said that, yeah this should be unaffected by #214. Could you make a PR with your patch?

[2022-02-14 18:36] saurik commented on #211
https://github.com/cloudflare/boringtun/pull/218

[2022-02-14 22:12] #211 closed

[2022-02-15 02:06] Noah-Kennedy commented on #207
@luv2dnce33 @aramperes it's live now

[2022-02-15 02:06] #207 closed

[2022-02-15 02:14] Noah-Kennedy commented on #217
I have some concerns about the amount of `unsafe` in here. Much of this is custom crap that can be ripped out and replaced easily.

[2022-02-15 05:37] autonomic commented on #205
Hey @Noah-Kennedy I tried installing but received the following dependency error:

[code]

[2022-02-15 05:40] Noah-Kennedy commented on #205
What OS?

[2022-02-15 05:44] Noah-Kennedy commented on #205
Oh nvm this is still macos I presume

[2022-02-15 05:57] autonomic commented on #205
Correct

[2022-02-15 05:58] Noah-Kennedy commented on #205
Gonna try an run this on an old macbook I've got. It ran fine on CI so this is kinda weird.

[2022-02-15 06:05] Noah-Kennedy commented on #205
@autonomic what version of the rust toolchain are you running?

[2022-02-15 06:07] Noah-Kennedy commented on #205
Also, it works on my macbook. Pretty sure that `rustup update` will fix this for you, but I'd like to know what version you are running as well.

[2022-02-15 06:09] autonomic commented on #205
I'm running the latest version from Homebrew.

[code]

[2022-02-15 06:15] Noah-Kennedy commented on #205
Can you give me the output of `cargo --version`? I get the brew package, but there is something else I want to see.

[2022-02-15 06:16] autonomic commented on #205
That did the trick. After I ran `rustup update` it now compiles properly.

[2022-02-15 06:17] Noah-Kennedy commented on #205
@autonomic In general I'd avoid any distro or other package mangager installs of the compiler or cargo, and would just use rustup, which is the more official way to do things.

[2022-02-15 06:19] autonomic commented on #205
After upgrading boringtun to 0.4.0 it's still not dropping root privileges.

[code]

[2022-02-15 06:24] Noah-Kennedy commented on #205
Alright, I figured this might be the case. This can get fixed later in a point release, now that boringtun is going to be shipping regularly again (I released 0.4.0 today). PRs are welcome from anyone interested in this. I probably wouldn't be able to get to this for a while.

[2022-02-15 06:26] autonomic commented on #205
Okay no worries, appreciate the help.

[2022-02-15 17:44] jeff-hiner commented on #26
Looks like this was closed in https://github.com/cloudflare/boringtun/pull/193

[2022-02-16 06:40] zaid3tech opened #222 "thread '<unknown>' has overflowed its stack"
I have tried to add multiple peers(almost 24000) via `wg addconf` command, which works pretty well with WireGuard kernel module, but in case of boring tunnel I got this error
[code]
Is there any limitation ?

[2022-02-16 18:18] Noah-Kennedy commented on #222
I don't have an exact number for this. How many it can handle might change in the future though.

[2022-02-16 18:18] #222 closed

[2022-02-17 15:54] jeff-hiner commented on #12
https://github.com/cloudflare/boringtun/pull/224

[2022-02-17 15:55] #12 closed

[2022-02-17 17:52] jeff-hiner opened #225 "CI: sporadic build failures on macOS x86-64"
[code]

[2022-02-17 19:18] luv2dnce33 commented on #32
can you update the formula for brew to 0.4.0?

[2022-02-18 00:04] Noah-Kennedy commented on #32
@luv2dnce33 we don't maintain that release channel afaik. I'd open up a PR or issue with homebrew-core.

[2022-02-24 22:03] an-p opened #228 "jni: create_new_tunnel requires psk"
Calling `create_new_tunnel` without a preshared key is no longer possible since #215.

Passing `null` as argument does not work because `env.get_string_utf_chars` does not allow `null`, and empty strings are not allowed because of a check in `ffi::new_tunnel`.

[2022-02-25 10:42] zaid3tech opened #230 "Stack gets overflowed while adding peers via wg setconf and wg addconf commands"
Hi, I opened this issues few days ago #222.
Whenever I try to add almost 24000 peers with `wg addconf` at some point the stack gets overflowed and tunnel panics. I have solved this issue for my use case, would you like to review my code?

[2022-02-25 17:13] Noah-Kennedy commented on #230
@zaid3tech Let's move this discussion over to the other issue.

[2022-02-25 17:13] #230 closed

[2022-02-25 17:14] Noah-Kennedy commented on #222
@zaid3tech If you would like to open a PR into boringtun to add a fix, I'd be quite willing to take a look at it

[2022-02-27 08:12] zaid3tech commented on #222
@Noah-Kennedy Thanks, I'll open it as soon as I get a chance.

[2022-02-28 00:01] phillyqueso commented on #205
@Noah-Kennedy @autonomic: I took a crack at it. Let me know if my approach is valid.

Cheers!

[2022-03-02 04:55] agrover commented on #222
My suspicion is that this is due to recursion in `api_set_peer()`.

[2022-03-02 07:04] zaid3tech commented on #222
@agrover Yes ! I tried to replace this recursion with iterative code, and it worked for me.

[2022-03-02 20:37] #225 closed

[2022-03-05 22:50] chenrui333 opened #234 "About release tag of 0.4.0"
👋  It looks like there was a new v0.4.0 release artifact pushed into crates.io 19 days ago, any chance to create a release tag for it? Thanks a lot.

cc @luv2dnce33

[2022-03-06 03:56] luv2dnce33 commented on #32
I did talk to the team and they said:

`I see the problem in here, they did not mark the release tag in github.`

_Originally posted by @chenrui333 in https://github.com/Homebrew/homebrew-core/issues/52625#issuecomment-1059845034_

[2022-03-07 19:11] Noah-Kennedy commented on #234
Thanks for raising this. I just created a release tag.

[2022-03-07 19:11] #234 closed

[2022-03-07 21:21] chenrui333 commented on #234
Thanks @Noah-Kennedy!

[2022-03-08 01:00] chenrui333 commented on #161
@vkrasnov is `sudo` behavior change documented anywhere?

[2022-03-08 01:05] Noah-Kennedy commented on #161
@chenrui333 He hasn't been affiliated with this for a year or so. Also, please file a new issue for things like this, so that we can triage and respond more effectively.

[2022-03-08 01:24] chenrui333 commented on #161
Sure, sounds good!

[2022-03-08 02:12] chenrui333 opened #236 "Documentation about `sudo` permission to run `boringtun`"
👋  as followup of [this comment](https://github.com/cloudflare/boringtun/issues/161#issuecomment-1061298280), I wonder if there is any documentation for the permission change to run `boringtun`, thanks!

cc @Noah-Kennedy

[2022-03-08 16:43] Noah-Kennedy commented on #236
I don't think that there is. Boringtun went kinda unmaintained for a while, and the new group (including myself) that recently took over maintenance of it are finding lots of knowledge lost to the winds of time.

[2022-03-08 17:43] Noah-Kennedy commented on #236
I'm going to close this issue for now, since there isn't anything actionable here.

[2022-03-08 17:43] #236 closed

[2022-03-11 10:24] zaid3tech commented on #217
Should we expect these changes in near future?

[2022-03-11 16:51] Noah-Kennedy commented on #217
@zaid3tech yes, I don't have a set date to give you, but you should expect this soon.

[2022-03-11 18:25] aofei opened #237 "BoringTun initiates a new session exactly every 2 minutes"
OS: Ubuntu 20.04
BoringTun: WARP 2022.2.288

---

I noticed in the `warp-svc` logs (see pic below) that the `boringtun` kept creating new sessions. I've never seen similar behavior in the official [`wireguard`](https://www.wireguard.com/install/#ubuntu-module-tools) client before, so I'm wondering if this is an expected behavior? It feels weird. Not sure if it will cause the upper-layer connection

[2022-03-11 19:02] jeff-hiner commented on #237
This is a response to re-keying. The REKEY_AFTER_TIME interval is set by the protocol, and the jitter is a relatively narrow fixed range (0-333ms).

https://www.wireguard.com/protocol/
"Future work involves adjusting `REKEY_TIMEOUT` to use exponential back-off.

[2022-03-11 19:03] #237 closed

[2022-03-11 21:12] zaid3tech commented on #217
Thanks : )

[2022-03-14 18:14] greg-hydrogen opened #238 "WG_QUICK_USERSPACE_IMPLEMENTATION=boringtun doesn't appear to do anything"
Hello Everyone,

I was looking to test boringtun and I followed the instructions provided in the README

when running the following:
WG_QUICK_USERSPACE_IMPLEMENTATION=boringtun WG_SUDO=1 wg-quick up wg0

It doesn't appear to do anything, I don't see any process for boringtun started

How does the WG_QUICK_USERSPACE_IMPLEMENTATION variable understand that boringtun exists, is there a specific folde

[2022-03-14 18:21] greg-hydrogen opened #239 "Build issue - Instructions seem incorect"
Hello Everyone,

when building boringtun based on the READMEI get the following error

Executable: cargo build --bin boringtun --release [--target $(TARGET_TRIPLE)]
specifically using this
cargo build --bin boringtun --release

I get the following error
error: no bin target named `boringtun'

looking at the Azure CI pipeline it looks like the command is actualy
cargo build --bin boringtun-cli --re

[2022-03-14 20:06] Noah-Kennedy commented on #239
I'm gonna leave this open as an issue because the docs need some love here.

[2022-03-15 01:10] Noah-Kennedy commented on #238
You should use the path to the installed boringtun binary for that variable.

[2022-03-15 01:10] #238 closed

[2022-03-15 01:40] greg-hydrogen commented on #238
@Noah-Kennedy  - changing the variable to the location of the binary hasn't changed the behavior
WG_QUICK_USERSPACE_IMPLEMENTATION=/usr/bin/boringtun WG_SUDO=1 wg-quick up wg0

Anything else I can check?

[2022-03-15 18:54] Noah-Kennedy commented on #238
@greg-hydrogen I am not familiar with this environment variable. Can you point me towards documentation on it?

[2022-03-16 01:23] fawazahmed0 opened #240 "installing boringtun in windows 10"
Hi,

I haven't used rust before, so I am not sure what's wrong here, just wanted to install boringtun binary.

Here is the error log:
[code]

Thanks

[2022-03-16 02:16] fawazahmed0 commented on #146
You can consider using this:
https://www.wiresock.net/

[2022-03-16 03:06] Noah-Kennedy commented on #146
We may support windows via wintun at some point.

[2022-03-17 16:37] Noah-Kennedy commented on #240
Does not reproduce from my end. What rust version are you on?

[2022-03-17 16:58] Noah-Kennedy commented on #240
How did you install? Did you use your distro package manager or rustup?

[2022-03-17 18:47] fawazahmed0 commented on #240
I used [rustup-init.exe](https://win.rustup.rs/) ,
I followed [this](https://doc.rust-lang.org/cargo/getting-started/installation.html)

[2022-03-17 18:49] Noah-Kennedy commented on #240
Oh are you on windows? We don't support windows at the moment, but there are plans to do so in the future.

[2022-03-17 18:54] fawazahmed0 commented on #240
I will close this issue then

[2022-03-17 18:54] #240 closed

[2022-03-18 01:56] greg-hydrogen commented on #238
I built it from git master using
cargo build --bin boringtun-cli --release

and then copying the binary to /usr/bin/

[2022-03-31 13:18] zaid3tech opened #245 "Logs, for tunnel in background."
I cannot see any info/trace/errors in boringtun.out file when boringtun is started in background. I have tried setting verbosity to info/trace/errors but nothing is logged inside boringtun.out. What could be the possible issue?

[2022-04-01 15:22] jeff-hiner commented on #26
Hm, you're right. I'm going to reopen this, though I'm not sure when it's going to get done.

[2022-04-02 04:30] nzbart commented on #26
@jeff-hiner it looks like binaries _should_ be pushed from the Azure pipeline (which I can't see). Maybe that just needs fixing?

https://github.com/cloudflare/boringtun/blob/master/azure-pipelines.yml#L142

[2022-04-03 21:30] OothecaPickle commented on #238
you have to use
`sudo WG_QUICK_USERSPACE_IMPLEMENTATION=/usr/bin/boringtun WG_SUDO=1 wg-quick up wg0`

wg-quick needs to be [run as root](https://github.com/WireGuard/wireguard-tools/blob/master/src/wg-quick/linux.bash#L85), but executes sudo without inheriting environment variables. running `WG_QUICK_USERSPACE_IMPLEMENTATION=/usr/bin/boringtun WG_SUDO=1 wg-quick up wg0` and passing -E to sudo in

[2022-04-07 08:20] sh7dm opened #246 "Usage of CPU features (SSE)"
SSE is known of being able to accelerate ChaCha20 cipher, which is the main cryptographic primitive behind WireGuard. Adaptively enabling SSE on capable hardware could increase performance and energy efficiency of implementation.
Kernel implementation does use hardware acceleration via Crypto API

[2022-04-07 15:24] sh7dm commented on #246
If this is considered useful I might try myself in vectorizing the ChaCha20 implementation included in Boringtun.

[2022-04-11 00:03] Noah-Kennedy commented on #246
@sh7dm PRs are welcome.

[2022-04-11 09:44] sh7dm commented on #246
Great, will try soon!

[2022-04-11 18:26] sh7dm commented on #246
My own SSE2 impl was not better than default (Rust should have been assuming SSE2 for x86_64 target), but manually enabling compiler's own AVX2 boosted the perf:
`cargo bench`:
<details>

[code]

</details>

`RUSTFLAGS="-C target-feature=+avx2" cargo bench`:
<details>

[code]

</details>

It might be worth it to build both and switch between them (build shared libraries and dynamically load them).

[2022-04-13 06:26] zaid3tech opened #247 "First time connection takes too long to establish."
Hi, I have observed a delay of 10-16 seconds when I try to connect for the very first time. Further connections work normally.

**Context**
- I have deployed the boringtun master branch on a digital ocean droplet.
- Almost 27000 peers are registered on WireGuard(boringtun) instance.
- I am testing the connection from WireGuard MacOs and IOS client.
- For a newly created peer, on testing it from Wi

[2022-04-13 11:14] zaid3tech commented on #247
My bad observation..

[2022-04-13 11:14] #247 closed

[2022-04-15 00:59] greg-hydrogen commented on #238
running with sudo, and sudo -E doesn't change the behaviour, I also modified the wg-quick script on the line you identified and added -E after sudo and that didn't change anything as well

I must be doing something wrong, but I don't see it, is there anything else I should try?

[2022-04-15 23:57] KOLANICH opened #248 "Library C API design issues"
Hello. I am writing [python ctypes-based bindings](https://github.com/KOLANICH-libs/BoringTUN.py) to BoringTUN and I don't understand well the C API it provides and why it was designed that way. I may badly misunderstand what BoringTUN is about, but it seems that the library C API has issues and needs a redesign.

1. `new_tunnel` takes the keys in the form of base64, while `x25519_key` type exists

[2022-04-18 18:36] KOLANICH opened #249 "FYI: python bindings"
https://github.com/KOLANICH-libs/BoringTUN.py

[2022-04-18 21:30] Noah-Kennedy commented on #249
Thanks for letting us know!

[2022-04-18 21:30] #249 closed

[2022-04-18 21:31] Noah-Kennedy commented on #248
Yeah the C API needs some work. It actually predates my time here.

[2022-04-19 00:23] arinc9 opened #250 "Tools other than `wg(8)` to configure BoringTun"
It's being hinted at the readme that we can configure the tunnel using `wg(8)` or any other tool.

My problem is that I want to use BoringTun on a network which blocks the WireGuard header for handshake and transport data which,  if I understand correctly, is constructed by `wg(8)`.

Looking at the packet capture, WARP doesn't seem to use `wg(8)` to configure BoringTun as Wireshark doesn't see the

[2022-04-23 02:38] fscarmen opened #252 "error: failed to run custom build command for `ring v0.16.20` while cross compiling"
I cross compiled BoringTun on amd64 linux.
I have run ```rustup target add x86_64-apple-darwin``` before.
It was successful to compile "x86_64-unknown-linux-gnu".
However. It was failed in " x86_64-apple-darwin"

![image](https://user-images.githubusercontent.com/62703343/164867784-6655f899-9b29-420e-9fcc-236c0209a27d.png)

[2022-04-27 08:23] protonjohn opened #254 "Target aarch64-apple-ios fails to build"
I added the `aarch64-apple-ios` target using `rustup target add aarch64-apple-ios`. However, when I attempt to build version 0.4.0 of this project with `cargo build --release --target aarch64-apple-ios`, I get the following build error:

[code]

[2022-05-01 03:09] P45H3 opened #256 "C++ link"
Im build boringtun as x64-32 msvc and get boringtun.rlib. How to link boringtun to c++ proj and use ffi boringtun header?

[2022-05-01 07:45] wiresock commented on #256
RLIB extension states for Rust library. To build MSVC static libraries (also statically linked to MSVC runtime), you need to do the following:

1. Add the lines below to the .cargo/config
[code]

2. Add the following at the bottom of boringtun/Cargo.toml

[code]

3. And finally, build the boringtun libraries to get boringtun.lib for MSVC platforms:

[code]

[2022-05-01 13:19] P45H3 commented on #256
Thank you) I builded it.
Is there an example of using a wireguard_ffi in a C++ program? (Creating a tunnel and wrapping traffic in it?)

[2022-05-05 11:16] cokemine commented on #26
For someone need prebuilt binaries, you can temporarily use https://github.com/cokemine/boringtun-builder/releases and wait for this issue to be fixed

[2022-05-12 10:56] netwetstat opened #258 "Getting few error logs, and my internet stops working for a while."
Hi, I hope everyone is good.
Using boringtun on ubuntu lease-web server and WireGuard client on IOS.
I am getting these error logs quite often.
Usually after first handshake I get these logs
`Decapsulate error, NoCurrentSession `
While connected to tunnel once browsing gets stop and on checking the boringtun logs usually these logs are there
`Decapsulate error, InvalidAeadTag`
`Decapsulate error,

[2022-06-02 16:27] Noah-Kennedy commented on #250
The WARP client is not open source and uses its own internal configuration management system. I don't think that simply changing the configuration will let you connect over this network.

I'd like to add support to boringtun for QUIC tunneling using quiche at some point, but I don't have enough bandwidth right now to get to this anytime soon. I already need to significantly rewrite large portions

[2022-06-02 16:27] #250 closed

[2022-06-07 00:49] ByteDou opened #259 "Issue with unstable throughput"
Hi!
We downloaded boringtun and ran performance tests, and we found that throughput was inconsistent.
Here's a case.
for server:
[code]
for client:
[code]
for result:
![image](https://user-images.githubusercontent.com/106961620/172271234-8f067024-132a-469e-b2e6-a776cd4cd514.png)

We changed the architecture and created multiple reuseport sockets for each thread. Each thread operated only on its ow

[2022-06-08 00:46] ByteDou opened #260 "the need for tcp support"

[2022-06-08 00:52] ByteDou commented on #260
Hi!

Currently, wireguard does not support TCP tunneling. This may cause problems in unfriendly environments, such as ISP limiting or blocking UDP traffic.

Are there plans to support TCP in topologies that do not require a mesh, such as building only point-to-point tunnels or supporting only star topologies ?

Here is our patch:
[tcp_support.diff.txt](https://github.com/cloudflare/boringtun/files

[2022-06-10 10:56] ngc0202 opened #261 "API Improvements - Expose peer API, allow custom packet producer/consumer"
Hi all, I love this project as a drop-in replacement for kernel WireGuard, but the library API could use some fleshing out to broaden the usability of this crate as a library. Here are some features I'd love to see added:

1) Documentation! Thought I'd start here before actual features since it really hampers usability to have the entire crate undocumented. Examples would go a long way too.

2) Pu

[2022-06-13 14:50] ngc0202 commented on #217
Is this still in the works? I'd love to see it implemented.

[2022-06-14 17:44] CodingMarkus commented on #260
BoringTun is an implementation of the WireGuard protocol; they only implement the protocol, they don't define the protocol. The protocol is defined to be UDP only, so your request is a bit like going to someone who wrote a PNG image library implementation and saying "PNG should also support losy compression. Here's a patch for that". But then it would no longer be compatible to the specification o

[2022-06-14 20:01] KOLANICH commented on #261
1. I think this library should be splitted into multiple libraries and multiple crates, each one with C API. And the libraries implementing protocols should not do any io themselves. It can be possible to implement a library both doing io and using wireguard, but it should be a separate shared library in a separate crate. Also that high-level library will likely have to involve a userspace tcp/ip

[2022-06-14 20:26] KOLANICH opened #262 "Create GitHub Actions pipelines"
We also need artifacts to be published after each build.

[2022-06-14 22:01] Noah-Kennedy commented on #259
I'm currently in the middle of a rewrite which should improve things, I just haven't had the bandwidth to finish this yet.

[2022-06-14 22:05] Noah-Kennedy commented on #217
Yes, I just have had reduced bandwidth due to some other things.

[2022-06-15 03:57] ByteDou commented on #259
Thanks for your reply.

Have you encountered the bandwidth issue I mentioned?

In addition, as you said, you are rewriting boringtun and could you tell me some details about your work? We are also working on some optimizations, so we don't want to reinvent the wheel.

[2022-06-17 01:16] Noah-Kennedy commented on #262
@KOLANICH Who needs this? Not sure who is being referred to by "we".

[2022-06-17 02:07] KOLANICH commented on #262
CF doesn't need it? OK.

[2022-06-17 02:13] Noah-Kennedy commented on #262
@KOLANICH I am

[2022-06-17 02:54] KOLANICH commented on #262
I want to implement a GH Actions testing pipeline for my python bindings to BoringTun. So I need a way to fetch the latest prebuilt shared library (`cdylib`) without building it myself every time.

[2022-06-17 02:56] Noah-Kennedy commented on #262
Ah.

[2022-06-17 02:59] Noah-Kennedy commented on #262
I'm working on changing our CI over to GitHub Actions from Azure CI for this repo. Once I merge #244 (probably tomorrow), I can start setting up something to automatically post artifacts when tags get merged to master.

[2022-06-19 20:36] jkcoxson commented on #9
I would also love to see an example of how to create a Wireguard server with this library. The docs page has little to no information about different functions and structs.

[2022-06-27 19:52] Noah-Kennedy commented on #252
@fscarmen did that work?

[2022-06-27 19:54] Noah-Kennedy commented on #258
@jeff-hiner

[2022-06-27 19:56] Noah-Kennedy commented on #256
Boringtun does not currently creating a tun interface on windows. Hopefully we can eventually add support via Wintun, but there are a number of difficulties in doing so.

[2022-06-27 19:57] Noah-Kennedy commented on #256
@P45H3 I'm going to close this ticket since the original issue has been resolved, however if you still have questions, feel free to keep asking on this ticket.

[2022-06-27 19:57] #256 closed

[2022-06-27 19:58] Noah-Kennedy commented on #131
@sunny-g currently I am rewriting the device API. I should be able to expose some stuff a bit more nicely once this is done.

[2022-06-27 20:43] jeff-hiner commented on #258
aead or counter errors are consistent with someone tampering with traffic in flight or otherwise corrupting the traffic. I'd check MTU settings first, then make sure the raw data packets are arriving exactly as sent. You can use tools like Wireshark on the client and server end to verify this.

[2022-06-28 16:45] never-afk opened #273 "is there a ios demo for boringtun?"
If so, it will bring me a lot of help，thinks :)

[2022-06-28 17:43] Noah-Kennedy commented on #273
I've closed this, but you can still ask questions in this thread about your issue.

[2022-06-28 23:03] jeff-hiner commented on #246
We switched to `ring`, because maintaining our own chacha20 implementation isn't something we want to do. Performance should already be far better, as it seems to build with the avx2 intrinsics.

[2022-06-28 23:03] #246 closed

[2022-06-29 20:32] Noah-Kennedy commented on #204
Closing this as stale.

[2022-06-29 20:32] #204 closed

[2022-06-29 20:33] Noah-Kennedy commented on #176
@aakashjonwal89 are you still having this issue?

[2022-06-29 20:35] Noah-Kennedy commented on #262
Closing this as done since #26 covers the remaining work.

[2022-06-29 20:35] #262 closed

[2022-06-30 15:35] netwetstat commented on #258
Thanks for replying, I would like to share my configs as well with you
**At Server, Boringtun start script looks like**
[code]
Config at server

[code]
**Iptables rules at server**

[code]

**Config at wiregurd ios client**

[code]
I am not giving any value of MTU by myself  I believe its set to 1400. Do you see anything wrong here?
@jeff-hiner

[2022-06-30 15:51] jeff-hiner commented on #258
You should double check the MTU of your capturing tun device and the path MTU of the UDP channel between server and client. If your ethernet/wifi is MTU 1500, then the tun's MTU should be that minus the wireguard overhead, which in worst case is I believe 80 bytes.

Wireguard adds overhead and doesn't do dynamic path MTU discovery, so if the MTU of the tun device is the same or close to the path M

[2022-06-30 16:41] netwetstat commented on #258
Thanks for all the advice I'll play around as advised.
These address Aead-related issues, can you please guide a bit about  `Decapsulate error, NoCurrentSession` as well, I have mentioned in the issue
 Whenever I start the connection from ios WireGuard client for the very first time I can see these logs on server
` Decapsulate error, NoCurrentSession`
I have added a few more logs in boringtun to d

[2022-06-30 18:01] jeff-hiner commented on #258
That decapsulate error sounds like a bug, definitely. When you say "session array gets empty" are you seeing `SESSION_EXPIRED(REJECT_AFTER_TIME)` on either end immediately after handshake?

[2022-07-01 06:01] netwetstat commented on #258
@jeff-hiner yes you are right, I am seeing this log as well when the session array gets empty, it says

  2022-07-01T05:55:56.629435Z ERROR boringtun::noise::timers: CONNECTION_EXPIRED(REJECT_AFTER_TIME * 3)
    at boringtun/src/noise/timers.rs:229

[2022-07-01 06:06] netwetstat commented on #258
@jeff-hiner yes you are right, I am seeing this log as well when the session array gets empty, it says

[2022-07-01 11:52] netwetstat commented on #258
Confirmed this
`SESSION_EXPIRED(REJECT_AFTER_TIME)` happens right after handshake server(boringtun)

[2022-07-04 12:58] netwetstat commented on #258
@jeff-hiner can you please guide me further about this?

[2022-07-05 15:27] jeff-hiner commented on #258
There is a timing bug somewhere, but I don't have cycles right now to look into it. Sending a data packet implies a handshake has been done, which means the receiver should have already stored the handshake and its expiry timer properly. That's apparently not happening as expected, probably because of some misuse of synchronization primitives.

[2022-07-06 23:24] jeff-hiner commented on #258
https://github.com/cloudflare/boringtun/pull/286

[2022-07-08 15:58] jeff-hiner commented on #258
Hey, can you see if this issue repros with the latest master branch?

[2022-07-11 14:21] Noah-Kennedy commented on #258
Good to know.

[2022-07-11 19:55] #176 closed

[2022-07-11 19:56] Noah-Kennedy commented on #197
Closing as stale. @fscarmen feel free to reopen if this is still an issue.

[2022-07-11 19:56] #197 closed

[2022-07-11 20:01] Noah-Kennedy commented on #245
The logging was redone at one point and it seems that this is the result of that.

[2022-07-12 20:53] jamesgecargo opened #293 "0.5.0 boringtun crate is broken"
We install boringtun via a dockerfile like so:
[code]

This worked fine up until a day ago but now it fails with an error:
[code]

If we pass in `--version 0.4.0` when installing boringtun then it starts working again.

Thus all signs point to version 0.5.0 of the boringtun crate being broken.

[2022-07-12 21:39] Noah-Kennedy commented on #293
We split it into two crates. Install `boringtun-cli` for the binary.

[2022-07-12 21:39] #293 closed

[2022-07-14 12:33] zaid3tech opened #294 "Tunnel crash observed with the latest release."
Hye! First of all, thanks for the new release, I recently got into this problem after upgrading to 0.5.0, the tunnel crashed twice for me with the following logs any help will be appreciated.
Logs

note: run with `RUST_BACKTRACE=1` environment variable to display a backtrace
thread ‘<unnamed>’ panicked at ‘source slice length (16) does not match destination slice length (32)‘, boringtun/src/noise/

[2022-07-14 14:12] Noah-Kennedy commented on #294
@jeff-hiner

[2022-07-14 15:10] jeff-hiner commented on #294
Looks like we missed limiting/truncating a destination buffer. `split_array_ref` would have caught this but it's still not stabilized yet.

[2022-07-14 17:01] phillyqueso commented on #205
@autonomic if you set WG_SUDO=1, that will circumvent dropping privileges. Can you try again after removing that env var and seeing if that works?

Cheers!

[2022-07-14 20:30] autonomic commented on #205
@phillyqueso so I ran again without WG_SUDO=1 and boringtun-cli is still not dropping privs to my regular user. Thanks for your help.

[2022-07-14 22:07] Noah-Kennedy commented on #294
@zaid3tech This should be fixed in the new version we just released (v0.5.1). Could you please try it and reopen if it breaks again?

[2022-07-14 22:07] #294 closed

[2022-07-14 22:35] phillyqueso commented on #205
@autonomic Sadly, I'm unable to reproduce the issue.

 If I drop `WG_SUDO`, or set it to 0, the root privileges acquired via sudo are successfully dropped.

I'm testing on Mac OSX 11.6.7 using `boringtun-cli@0.5.0`. Might you be running a later Mac OSX version? Or an outdated boringtun-cli instance?

[2022-07-14 23:03] autonomic commented on #205
@phillyqueso That did the trick — running with WG_SUDO=0. Thank you!

[2022-07-14 23:19] phillyqueso commented on #205
@Noah-Kennedy I think we can close this issue after all.

[2022-07-14 23:43] Noah-Kennedy commented on #205
Thanks @phillyqueso for helping with this!

[2022-07-15 04:01] zaid3tech commented on #294
Thank you!
Upgrading to v0.5.1 now will reopen if it breaks.

[2022-07-15 10:11] tubzby commented on #146
Is there any progress or timeline for this feature?

[2022-07-15 14:28] Noah-Kennedy commented on #146
No unfortunately. Because of the way windows works, this is actually a ton of work to do sadly.

[2022-07-21 04:55] autonomic commented on #205
Looks like there may be some kind of regression in 0.5.2 because after installing it I'm not longer about to start `boringtun-cli` with:

[code]

I can run with `WG_SUDO=1` but it doesn't drop privs.

[2022-07-21 17:10] Noah-Kennedy commented on #205
Hmm, all 0.5.2 did was make it so that we checked the environment var at runtime rather than compile time. Otherwise it should not change the behavior of the fix from @phillyqueso.

[2022-07-21 17:14] Noah-Kennedy commented on #205
Oh, right, under sudo this var wouldn't be passed in.

@autonomic try `sudo -E` instead of `sudo`.

[2022-07-21 19:25] autonomic commented on #205
@Noah-Kennedy Still getting the same message "BoringTun failed to start" and then the process exits (using sudo -E).

[2022-07-21 19:52] Noah-Kennedy commented on #205
...and I see what's going on. Ok, permissions dropping seems to have some issues here and I need to find a workaround for the problem.

[2022-07-21 19:57] Noah-Kennedy commented on #205
@autonomic The issue here is that we need to know what user to go for to drop permissions. My runtime approach wouldn't work because I was assuming `boringtun-cli` would be run with `sudo -E` or something so that we could get the use.

The change @phillyqueso made basically hardcoded the compiling user into the binary to drop perms to them, which isn't correct either, as this won't work for anyone

[2022-07-22 19:51] autonomic commented on #205
@Noah-Kennedy I installed using `cargo install boringtun-cli` so shouldn't this allow me to run with the same user? This doesn't of course fix the issue for the wider audience when boringtun-cli is packaged but so long as I can run and drop privs to my own macOS user then that will suffice for the time being until a solution is implemented.

[2022-07-22 20:35] Noah-Kennedy commented on #205
@autonomic phillyquesos change made it so that you this would work if you used cargo to install the program, but not another means of doing so.

My change fixed the fact that his approach wouldn't really work through, say, packaged versions of the software by at least allowing it to work when boringtun-cli was run with sudo -E. Unfortunately, this also broke it when the program was run elevated wi

[2022-07-22 20:35] Noah-Kennedy commented on #205
@autonomic what is your use case for needing to drop privileges?

[2022-07-22 20:43] Noah-Kennedy commented on #205
I'm trying to think through whether this is a feature which should continue to be supported, or if it can be dropped.

[2022-07-22 20:43] Noah-Kennedy commented on #205
If you have a reason you need this, I'd like to know.

[2022-07-23 06:59] autonomic commented on #205
@Noah-Kennedy mainly for security reasons to avoid running network deamons as root, using the principal of least privileged. What about a configuring `boringtun` UID/GID for privileged separation? Of course this would have to be setup by the user on their respective OS.

[2022-07-24 18:50] Noah-Kennedy commented on #205
Hmm, I like this idea.

[2022-07-28 00:22] autonomic commented on #205
Looking at how other operating systems do privileged separation it's probably best to use a UID/GID with the naming convention "**_process**" (eg. **_boringtun**). I've got instructions on how to setup a user/group on macOS.

[2022-08-06 07:00] RandoMan70 opened #301 "Shared library is not built since v0.5.0"
As soon as refactoring around workspace is done cargo does not build platform-specific shared and static library anymore.
If I add required crate-types for libraries in boringtun/Cargo.toml it builds dynamic and static libraries, but does not include FFI calls there, so library can't be linked anymore.
Probably I'm doing something wrong, I'm not a Rust developer, please, help me to get working sha

[2022-08-07 10:38] wiresock commented on #301
If you are building for Windows, then you can check my [fork](https://github.com/wiresock/boringtun/tree/win_stat_lib_with_rand). Check the lines added to boringtun/Cargo.toml and .cargo/config.toml.

Here is the simple build script to build the static libraries:
[code]
Note that it also includes a slight modification to mod.rs to randomize the low byte of the session ID. I came across a DPI that

[2022-08-07 11:12] wiresock commented on #301
I think you should add --features=ffi-bindings to your cargo build command.

For example, if you are building the library for Windows platform, then you can look at my [fork](https://github.com/wiresock/boringtun/tree/win_stat_lib_with_rand). Check the lines added to boringtun/Cargo.toml and .cargo/config.toml.

And here is the build script to build the static libraries:

cargo build --target=i686

[2022-08-15 18:49] spylogsster commented on #301
@wiresock still doesn't work for me, there are numerous errors when compiling. what version of rust is required to build?

[2022-08-15 19:21] wiresock commented on #301
@spylogsster I recently updated to the latest and successfully rebuilt the static libraries. What platform are you trying to build?

[2022-08-15 19:28] spylogsster commented on #301
cargo build --target=x86_64-pc-windows-msvc --lib --release --features=ffi-bindings

[2022-08-15 19:43] wiresock commented on #301
@spylogsster Have you modified boringtun/Cargo.toml and .cargo/config.toml?

[2022-08-16 13:18] spylogsster commented on #301
@wiresock building your fork, branch `win_stat_lib_with_rand`
[code]

[2022-08-16 13:23] spylogsster commented on #301
on mac cross-compiling stuck with
`error: failed to run custom build command for `ring v0.16.20``

[2022-08-16 13:28] spylogsster commented on #252
@Noah-Kennedy no, having same issue, it doesnt help

[2022-08-16 14:16] spylogsster commented on #301
@wiresock I actually mentioned it in the message above, unfortunatelly it doesnt help

[2022-08-16 14:28] wiresock commented on #301
Weird... What was an output from the `rustup target add x86_64-pc-windows-msvc`?

[2022-08-16 14:39] spylogsster commented on #301
[code]

[2022-08-16 15:09] Noah-Kennedy commented on #252
@spylogsster take a look at this: https://github.com/briansmith/ring/blob/main/BUILDING.md

[2022-08-16 15:11] Noah-Kennedy commented on #301
@spylogsster we re-added some flags to `Cargo.toml`. Try using the latest on master.

[2022-08-16 16:23] spylogsster commented on #301
@Noah-Kennedy same result on latest master

[2022-08-16 16:29] spylogsster commented on #301
maybe this help:
[code]

[2022-08-16 16:34] rillian commented on #301
Cross-compiling `ring` generally doesn't work. Since `boringtun` depends on in, you'll likely have to build on the target platform.

[2022-08-16 16:41] spylogsster commented on #301
https://github.com/cloudflare/boringtun/issues/301#issuecomment-1216628130 this log from windows

[2022-08-16 16:44] Noah-Kennedy commented on #301
@spylogsster if this issue is specific to cross compiltion, that is handled under #252. Does it work when not cross-compiling?

[2022-08-16 16:47] spylogsster commented on #301
@Noah-Kennedy https://github.com/cloudflare/boringtun/issues/301#issuecomment-1216628130 this logs from windows.

[2022-08-16 16:50] Noah-Kennedy commented on #301
@spylogsster are you cross compiling or not here?

[2022-08-17 09:25] spylogsster commented on #301
Looks like issue was actually on my side with broken env for Rust. Built this on a new windows virtual machine from latest master. Thanks to everyone for help. Looks like this issue can be closed.

[2022-08-17 15:19] #301 closed

[2022-08-19 19:30] notsphinx opened #307 "Using 1.1.1.1 on Android with Zero Trust. Every now and then device loses network connectivity. boringtun logs below"
Makes the 1.1.1.1 service unusable on Android (works well on Linux and MacOS). I saw this in the logs yesterday when the device was stuck and is completely without any network connectivity. Happy to provide any other logs if needed.

(Valid IP addresses in the logs edited out below).

[2022-08-16T07:28:48.137-07:00] INFO "tic": boringtun: "KEEPALIVE(PERSISTENT_KEEPALIVE), ()"
[2022-08-16T07:28:55.

[2022-08-19 19:55] Noah-Kennedy commented on #307
This repo is for the boringtun library & daemon, not for the 1.1.1.1 app. Please use the "submit feedback" button to report the issue.

[2022-08-19 19:55] #307 closed

[2022-08-24 18:40] agrover opened #309 "Keeping timers relative to start of tunnel initiation is confusing"
Keeping timers this way means that for example `update_session_timers` takes a `time_now` param that's a `Duration` instead of an `Instant`. All entries in `Tunn::timers` are `Duration`s when many of them are "the time that something happened" and idiomatically I think these would be better expressed as `Instant`s.

[2022-08-25 02:01] Noah-Kennedy commented on #309
Agreed.

[2022-08-25 02:02] #55 closed

[2022-08-25 16:58] lu-zero commented on #261
It would also make easier to port it to wasi.

[2022-08-29 16:38] vvzvlad opened #311 "Bug when tunnel up on macos"
A number of times when the tunnel is raised with the command ```sudo WG_QUICK_USERSPACE_IMPLEMENTATION=/Users/vvzvlad/.cargo/bin/boringtun-cli WG_SUDO=1 wg-quick up trikster``` the following happens:
1)The latest handshake is shown.
2)amount of data received is 0
3)The amount of data sent is incremented by 50mb/sec.
4) The traffic does not go
This happens until you run the wg-quick down command.

[2022-08-29 18:14] lu-zero commented on #254
Is the cli supposed to work at all on the target?

[2022-08-29 19:54] Noah-Kennedy commented on #254
@lu-zero not every target is supported. Outside of std support, the main requirement tends to be that ring must build for a platform to be supported.

[2022-08-29 19:54] Noah-Kennedy commented on #254
As a side note, cross compilation of this can be a bit difficult sometimes due to ring.

[2022-08-29 20:08] Noah-Kennedy commented on #311
How reliably does this reproduce?

[2022-08-30 06:10] lu-zero commented on #254
The `lib` crate build fine as expected since it is used on android and ios, I was wondering how the cli could build and run since those targets do not have the `device` mod at all.

[2022-08-30 07:40] lu-zero commented on #252
[code]

Set the C compiler either using the env var or the `.cargo/config` entries. ring compiles C/asm code and needs (so far) a working C compiler.
Also when cross compiling you need to set the `linker` to the target specific linker, again use the `.cargo/config` entry.

[2022-08-30 11:04] vvzvlad commented on #311
Quite often: about every third or fifth startup.

[2022-08-30 14:36] Noah-Kennedy commented on #254
Ah, I see. Yeah, we don't really support the CLI target on ios those right now.

[2022-08-30 14:36] #254 closed

[2022-09-02 21:40] thrykol opened #313 "Write lock never released"
I was experimenting to understand the code base better and discovered that a device handle write lock is never released if [mut_func](https://github.com/cloudflare/boringtun/blob/master/boringtun/src/device/dev_lock.rs#L89) `panic!`s. As a result, the `DeviceHandle`'s remaining `event_loop` threads are blocked from doing any other work.

Generally it's not an issue unless someone is working on [ap

[2022-09-02 22:04] Noah-Kennedy commented on #313
I'm hoping to get rid of that thing soon.

[2022-09-03 07:03] contrun opened #314 "Server mode?"
To the best of my knowledge, boringtun is currently only a wireguard client. We can create a new tunnel with https://github.com/cloudflare/boringtun/blob/5f61297bfb198c9eea7d9b3e1bb32bdd36e403f7/boringtun/src/wireguard_ffi.h#L76-L81 . I didn't find any function to listen for incoming wireguard connection. Will server mode be supported?

[2022-09-03 16:20] Noah-Kennedy commented on #314
So, wireguard is a bit weird in that it's not client-server, it's peer-to-peer. This is different from other protocols like OpenVPN.

Wireguard does have a concept of a handshake initiator vs handshake receiver when a tunnel session is established, which provides a way to replicate client-server semantics by having clients be the peers which initiate sessions.

We support any of the peer-to-peer o

[2022-09-04 01:33] contrun commented on #314
@Noah-Kennedy Thanks for the explanation. I am trying to build a wireguard server with boringtun and smoltcp (a more usespacy server that terminates tcp and udp sockets and starts new connections like a l4 reverse proxy).

I find some gaps between my understanding and the interfaces boringtun provides. It is my understanding that I need to first listen to the udp socket, and then when a peer initi

[2022-09-05 18:06] Noah-Kennedy commented on #314
So, wireguard assumes that peers already know of each others identities for the purposes of simplifying the protocol. As a result, any key sharing needs to happen outside of the protocol via, for example, an authenticated HTTPS API.

The flow for wireguard when a new handshake initialization packet comes in is to lookup the peer via the public key contained in the handshake initialization packet t

[2022-09-06 15:46] thrykol commented on #313
Do you have a time frame you're targeting?  I might be able to get some cycles to help out if you have a plan for how you want to move forward.

[2022-09-06 15:53] Noah-Kennedy commented on #313
@thrykol unfortunately this isn't a matter of me not having time, it's a matter of us (CF) needing to make some changes to a few edge infrastructure components first. That work is moving along, but not as fast as I would like. Hopefully that gets done in a week or so.

I've actually got this mostly done in a local branch. I might just push my branch up in the meantime so that it can get feedback a

[2022-09-06 15:55] thrykol commented on #313
Having your feature branch available would be fantastic as it'd at least give an idea of how things are anticipated to be implemented moving forward.

[2022-09-06 19:24] Noah-Kennedy commented on #311
@vvzvlad is this on latest master, the latest crates.io release, or both?

[2022-09-09 16:20] schultetwin1 opened #316 "Platform differences on timers when OS is asleep"
boringtun relies on on std::time::Instant to deal with handshake timeout, session timeout, keep-alive, etc. Under the hood, std::time::Instant uses the following APIs (https://doc.rust-lang.org/std/time/struct.Instant.html#underlying-system-calls)

Windows => QueryPerformanceCounter
macOS => mach_absolute_time
Linux => clock_gettime

These timers do not exhibit the same behavior when the OS is asl

[2022-09-13 15:58] #316 closed

[2022-09-21 18:16] max-frai opened #318 "Set configuration file"
Hello, is it possible with boringtun core library to set configuration? So I have config file with keys, servers from my vpn provider. It looks like:

[code]

How can I "apply" it to created tunnel? So I did the same logic as cli and check with `wg show`:
[code]

With `wg-quick` I can put config file into `/etc/wireguard/test.conf` and run it: `wg-quick up test`. And it creates vpn connection and

[2022-09-23 02:12] contrun commented on #314
@Noah-Kennedy Thank you for your explanation, now I understand better how wireguard works. Still, I don't know how to make a server out of boringtun. Say I have a set of public keys `pk1`, `pk2` ... `pkn`, I want clients with any corresponding private key to connect to my boringtun instance. What do I need to do? Do I have to create `Tunn` for all these public keys? Afterwards I added all these `T

[2022-09-26 17:50] Noah-Kennedy commented on #318
If you are trying to do this with just the library, you will need to parse the file and instantiate the various objects yourself with the configuration parameters from the parsed file.

[2022-09-26 17:53] Noah-Kennedy commented on #314
A Tunn represents your communication with a single remote peer, encapsulating crypto, handshakes, and the whole state machine of communicating with a single peer. You will need a Tunn for each peer.

[2022-09-27 00:31] contrun commented on #314
OK. Thanks a lot. I think pre-allocating a few `Tunn` for each peer probably is enough for what I want for now. But most ideally, as you said

I wish we have such a dynamic mechanism. Can you give a few hints on how to implement my own lookup table? I think we can open an new issue for that and this issue can be closed.

[2022-10-07 00:08] Noah-Kennedy commented on #314
@contrun You need to be able to do lookups by both receiver index (for transport data packets) and by public key (for handshakes).

[2022-10-07 21:21] ExternalReality commented on #246
I'd be interested to see how performance improves under [AVX512 and Intel QAT](https://builders.intel.com/docs/networkbuilders/intel-avx-512-and-intel-qat-accelerate-wireguard-processing-with-intel-xeon-d-2700-processor-technology-guide-1647024663.pdf).

Also, I think the move to Mio/Tokio might open up more opportunities for hardware based improvements.

[2022-10-12 18:29] paletteOvO commented on #238
I also faced the same problem, so I checked the source code of wg-quick and found [that line](https://github.com/WireGuard/wireguard-tools/blob/master/src/wg-quick/linux.bash#L90) would unconditionally use the kernel module if it existed. Modify it to something like this will work
[code]

[2022-10-14 02:34] wangzheng00 commented on #238
@greg-hydrogen any update?
I have the same problem, I use version: boringtun-0.5.2, then run:
sudo WG_QUICK_USERSPACE_IMPLEMENTATION=boringtun-cli WG_SUDO=1 wg-quick up ./w02.conf

[2022-10-21 05:14] wangzheng00 opened #323 "How to use multiple cores"
boringtun's version: boringtun 0.5.2
OS: Ubuntu 22.04
I want to test boringtun's performance data using multi-core, for example, I want to allocate CPU 1-4 to boringtun or wireguard.
wireguard connection is accelerated by multithreading.
How do I need to configure it?

[2022-11-02 16:49] ExternalReality commented on #217
Hi all,

I hope all is well. Question, is the plan to just to replace the custom events system with mio, or to use Tokio runtime task scheduling etc?

[2022-11-02 17:09] Noah-Kennedy commented on #217
The plan is to use tokio.

[2022-11-05 20:20] crajcan commented on #309
@agrover @Noah-Kennedy Anyone available to review?

[2022-11-09 01:59] #323 closed